[2020-08-22 15:03] austinjones opened #1 "Interactive tab selection when no arguments are provided"

[2020-08-22 15:07] austinjones opened #2 "Add more keybindings for quick-switches"
- `ctrl-T ctrl-T` for quick switch to the previously selected tab.
- `ctrl-T <tab>` for mode switches in the fuzzy finder.  History mode once #256 is implemented, and the current 'tab mode'.

[2020-08-22 15:27] austinjones opened #3 "Require authentication (stored in daemonfile) before requests are processed."

[2020-08-22 16:40] austinjones opened #4 "Daemon startup/pidfile handling is unreliable"
There are many issues with the Daemon startup.
- Dameon launch is unimplemented.  Client crashes if the daemon is not running
- If the pidfile contains a stale pid, the daemon does not replace it
- If the pidfile contains a stale pid, the client attempts to connect

It would also be nice if the client could launch the daemon using cargo.

[2020-08-22 18:51] #4 closed, assigned to nobody

[2020-08-22 23:18] #3 closed, assigned to nobody

[2020-08-22 23:19] austinjones opened #10 "List the daemon tabs with `tab -l`"

[2020-08-22 23:20] austinjones opened #11 "Tab Groups"
Tabs can be separated by forward slashes.  Each section of the path defines a 'tab group'.

Eventually tab groups could be loaded from config files.

[2020-08-22 23:31] austinjones opened #12 "Sync active tabs with the daemon during client startup"
When the client starts up, it is immediately sent metadata for each active tab.  However, it doesn't know when the metadata stream is done.

The server needs to send a bulk message.

[2020-08-23 00:32] austinjones opened #14 "Autocomplete support"
When a user enters `tab ` in terminal, begin autocompletion of available tabs.

[2020-08-23 00:36] #10 closed, assigned to nobody

[2020-08-23 04:16] austinjones opened #16 "'Carriers', a solution for inter-bus communication"
Messages between busses are tricky.  `take_rx` worked OK, but it ended up with a few messages being distributed among all the busses.

I have an idea for how to solve this: the Link.  A new trait that is similar to Service, but it takes two busses.

The service can drive messages between the busses, and return a lifeline

[2020-08-24 15:00] austinjones opened #18 "Add tab-websocket tests that cover the carrier"

[2020-08-25 15:49] austinjones opened #21 "Pass environment variables to spawned shells"
Pass the environment variables:
- $SHELL - the $SHELL var taken from the cli
- $TAB - the tab name
- $TAB-ID - the numeric tab id

[2020-08-25 16:27] austinjones opened #22 "Set bash/fish/zsh history file options"
When re-connecting to a closed tab, it would be awesome if the history was preserved, and specific to the tab.

Fish: https://github.com/fish-shell/fish-shell/issues/102
Bash:
Zsh:

Save history in `~/.tab/history/<name>.txt`

[2020-08-26 05:54] austinjones opened #23 "Occasionally the Bash welcome message is printed twice."
Only the welcome message though.  Not the prompt.

Reproduction:
1) `tab foo`
2) Type exit.
3) Repeat.

[2020-08-26 06:59] austinjones opened #25 "`tab-pty` logs"
Add logs to `~/.tab/pty-{PID}.log`.

Have the daemon remove all `*.log` files from ~/.tab on startup.

[2020-08-26 07:30] #21 closed, assigned to nobody

[2020-08-26 15:08] austinjones opened #27 "Retask the outer client if the user attempts to select a tab within another session"

[2020-08-26 15:12] #27 closed, assigned to nobody

[2020-08-26 15:13] austinjones opened #29 "Create a `tab` crate for the master binary, and call tab-cli/daemon/etc from it."

[2020-08-26 15:49] austinjones opened #30 "Zsh history support requires editing /etc/zshrc"
`/etc/zshrc` on OSX defines the property:
[code]

This overwrites the prop set by tab.

[2020-08-26 15:57] #23 closed, assigned to nobody

[2020-08-26 16:07] austinjones opened #33 "`tab -l` sometimes prints twice"

[2020-08-26 16:08] austinjones opened #34 "Command-line documentation needs a refresh"
Several small mistakes.  Many options could be better documented.

[2020-08-26 18:56] austinjones opened #37 "`tab-cli` doesn't quit when the remote tab is closed"
Reproduction:
[code]

Expected behavior:
The session ends and the user is returned to the main shell.

Actual behavior:
The terminal hangs and ctrl-c / ctrl-z does nothing.  The only way out is ctrl-w.  Though the tab is actually closed.

[2020-08-26 20:55] austinjones opened #38 "`tab --shutdown`, shuts down the daemon and all pty processes"

[2020-08-26 21:50] #37 closed, assigned to nobody

[2020-08-27 01:21] austinjones opened #41 "PTY leaks shell processes"
When the pty is closed, it does not terminate the shell process.

Expected Behavior
All child shell processes are killed when the pty process receives a Terminate message.

Actual Behavior
The child process remains alive when the pty process receives a Terminate message.

[2020-08-27 01:25] #41 closed, assigned to nobody

[2020-08-27 01:26] #29 closed, assigned to nobody

[2020-08-27 01:27] #16 closed, assigned to nobody

[2020-08-27 04:33] #33 closed, assigned to nobody

[2020-08-27 04:33] #38 closed, assigned to nobody

[2020-08-27 04:34] austinjones opened #44 "Execute a global shutdown if the tab binary changes"
When users upgrade tab, the daemon & pty processes should be terminated.

[2020-08-27 04:38] austinjones opened #45 "Change tab color in `tab -l` for recently selected tabs"
Tabs that have been selected recently should be brighter.

[2020-08-27 04:59] austinjones opened #46 "Config-driven sessions"
As a developer, I want to write software.  I want to easily context switch between repositories, and context switch between tabs within a repository.

As a developer, I want my interface to be consistent.  I don't want to think about the state of the tab daemon.  I want to type without thinking.

As a developer, I want my tabs to be configurable per repository, and easily add workspaces with many

[2020-08-27 19:07] #46 closed, assigned to nobody

[2020-08-27 21:31] austinjones opened #50 "Retain doc comments for tabs opened from other workspaces."

[2020-08-27 21:32] austinjones opened #51 "Explain which workspace tabs are active when `tab -l` is called."
In `tab -l` output, explain which workspace tabs are currently 'active' via the user's working directory.  Here is an example where the user is in `~/workspace/tab-rs`.
[code]

[2020-08-27 21:33] austinjones opened #52 "Improve error handling when the tab.yml parse fails."
Slow down the poll to 3 seconds?

[2020-08-27 21:34] austinjones opened #53 "Add more detail to the example."

[2020-08-27 21:34] austinjones opened #54 "Add a README.md"

[2020-08-27 21:39] austinjones opened #55 "`tab-pty` unit tests"

[2020-08-27 21:44] austinjones opened #56 "`tab-api` rustdocs"

[2020-08-27 21:45] austinjones opened #57 "`tab-websocket` rustdocs"

[2020-08-27 21:45] austinjones opened #58 "`tab` rustdocs with crate-level docs on how tab works"

[2020-08-27 21:46] austinjones opened #59 "`tab-command` rustdocs"

[2020-08-27 21:46] austinjones opened #60 "`tab-daemon` rustdocs"

[2020-08-27 21:47] austinjones opened #61 "`tab-pty` rustdocs"

[2020-08-27 21:50] austinjones opened #62 "Remove the fork of `tokio-pty-process` and wrap portable_pty in async IO"
portable_pty: https://docs.rs/portable-pty/0.3.0/portable_pty/

This looks much more robust than what `tokio-pty-process` does.

[2020-08-27 23:59] #12 closed, assigned to nobody

[2020-08-28 00:04] #11 closed, assigned to nobody

[2020-08-28 01:42] austinjones opened #64 "varargs for `tab -w`"

[2020-08-28 01:52] austinjones opened #65 "Default value for `tab <tab>`"
Maybe `any`?  It would be nice if `tab` just brought you to a new session.

[2020-08-28 02:04] austinjones opened #66 "Improve performance of autocompletions"
Autocompletions could be a bit more snappy.

[2020-08-28 03:03] austinjones opened #67 "Dynamic completions for PowerShell"

[2020-08-28 03:03] austinjones opened #68 "Dynamic completions for Elvish"

[2020-08-28 06:33] austinjones commented on #14
A considerable amount of progress on this was made in #69 .

Tab now has autocomplete scripts for bash, zsh, fish, elvish, and powershell.  It will print the scripts with `tab --completion`.

Setup instructions as well, tested for bash/zsh/fish.

[2020-08-28 18:11] austinjones opened #71 "`~/.tab` is not created on first use"

[2020-08-28 18:12] austinjones opened #72 "running `tab` with no arguments hangs"

[2020-08-28 18:16] austinjones opened #73 "Notify the user if a closed tab contains a sub-tab"
If the user closes `tab -w foo/`, and a tab exists at `foo/bar/`, notify the user that the `foo/bar/` tab was kept active.

[2020-08-28 18:17] austinjones opened #74 "Add `tab --close-recursive` which closes a tab, and all it's subtabs"

[2020-08-28 22:08] austinjones commented on #54
Done!

[2020-08-28 22:08] #54 closed

[2020-08-28 22:08] austinjones commented on #34
Resolved in #69

[2020-08-28 22:08] #34 closed

[2020-08-28 22:29] austinjones opened #75 "`man tab` manpage entry"

[2020-08-28 22:36] austinjones opened #76 "Explain the problem that `tab` solves in the opening paragraph of the readme."

[2020-08-29 00:14] austinjones opened #77 "Quick scrollback using alternate text buffer."
Perhaps the initial scrollback should be rendered to the alternate text buffer.

This would avoid a 'streaming' effect, if it was faster than the scrollback buffer, performance would improve.

[2020-08-29 01:46] #71 closed

[2020-08-29 01:46] #65 closed

[2020-08-29 01:52] #72 closed

[2020-08-29 05:00] austinjones opened #82 "Forbid spaces in tab names"
Strips spaces from tab names, for shell compatibility

[2020-08-29 06:10] austinjones commented on #62
There are some significant blockers to this.  The blocking IO runs into lifetime issues with tokio spawn_blocking, because blocking tasks need to be spawned in a loop.

I'm not sure if this is doable.

[2020-08-29 06:12] austinjones commented on #76
Closed by #83

[2020-08-29 06:12] #76 closed

[2020-08-29 06:17] austinjones commented on #14
Even more progress on #83

The bash, fish, and zsh have full dynamic support (e.g. complete tab names for `tab foo`, and running tabs for `tab -w foo`)

[2020-08-29 06:18] austinjones commented on #22
For Bash/Zsh, I set the HISTFILE env var.  I tested it tonight and it's working.

[2020-08-29 06:18] #22 closed

[2020-08-29 20:32] austinjones opened #86 "Homebrew package"
Create a package for the Homebrew package manager

[2020-08-29 20:33] austinjones opened #87 "Debian package"

[2020-08-29 23:12] austinjones opened #88 "Binary releases"
Setup automatic windows/osx/linux binary releases.

https://rust-cli.github.io/book/tutorial/packaging.html

[2020-08-29 23:15] austinjones opened #89 "Regression tests as part of the release CI workflow"

[2020-08-29 23:42] austinjones opened #90 "$SHELL handling needs to be more robust"
I use very simplistic .ends_with() to detect shells.

This could be considerably improved - breaking up into words and looking for matches.

[2020-08-30 04:49] austinjones opened #92 "Cap the number of launched pty processes"
It's possible to consume the available ports on the host, so cap the # of processes to a reasonable number - maybe 200?

[2020-08-31 03:08] austinjones commented on #90
Resolved by #91

[2020-08-31 03:08] #90 closed

[2020-08-31 03:08] austinjones commented on #89
Cargo integration tests did the trick.  Resolved by #91

[2020-08-31 03:08] #89 closed

[2020-08-31 17:13] austinjones opened #97 "Remove ctrl_c in tab-websocket server.rs"

[2020-08-31 23:16] austinjones commented on #97
This is covered in main, and shouldn't be part of the websocket.  Main should cancel the entire task tree.

[2020-09-01 00:21] austinjones opened #101 "Remove all time::delay_for synchronization hacks"
Several bugs have involved race conditions between parallel updates.  A common one is multiple shutdown actions, where a 'flush' needs to occur first, then a process shutdown.

Another was the retask bug, where there were race conditions between the actions dispatched on CliRecv::Retask(from, to).

Find a way to remove all these hacks, and more cleanly express the dependency between parallel actio

[2020-09-01 15:55] austinjones commented on #88
Progress on master in https://github.com/austinjones/tab-rs/blob/master/.github/workflows/release.yml

Need to execute a full release on all platforms.

[2020-09-01 19:08] austinjones opened #104 "Windows support"
The pty module is not compatible with windows.

[code]

[2020-09-01 19:10] austinjones commented on #104
This would probably be resolved by #62

[2020-09-01 20:31] austinjones opened #105 "When many tabs are open, the client can't keep up with metadata responses"
Remove all .unwraps() and .expects() from prod code.

[code]

[2020-09-01 20:32] austinjones commented on #105
In this case, the lifeline receiver should be used.  It would log LAGGED.

[2020-09-01 21:14] austinjones opened #106 "Tabs with lots of scrollback lag"
The channel size for TabSend, TabRecv, Request, and Response need to be increased.

[code]

[2020-09-01 23:01] austinjones commented on #105
Resolved by #107

[2020-09-01 23:01] #105 closed

[2020-09-01 23:01] austinjones commented on #106
Resolved by #107.

I also improved the scrollback buffer limit logic.

[2020-09-01 23:01] #106 closed

[2020-09-02 05:11] austinjones commented on #88
More progress! https://github.com/austinjones/tab-rs/releases/tag/0.2.2

https://github.com/austinjones/tab-rs/blob/master/.github/workflows/release.yml

[2020-09-02 05:20] austinjones commented on #86
For now, it may need to be a tap: https://docs.brew.sh/Taps

[2020-09-04 01:47] austinjones commented on #86
Tap is created, and instructions in the readme.  I built a bottle for 0.2.2 on Catalina.

Needs to be automated.

[2020-09-06 00:19] austinjones commented on #61
Resolved by #112

[2020-09-06 00:19] #61 closed

[2020-09-06 00:19] austinjones commented on #56
Resolved by #63 and #112

[2020-09-06 00:19] #56 closed

[2020-09-06 00:20] austinjones commented on #60
Resolved by #112

[2020-09-06 00:20] #60 closed

[2020-09-06 00:21] austinjones commented on #25
Partial progress here.  pty logs are piped to the daemon logs.

It'd be nice to provide some context on whether it's the daemon, or whether it's a pty (and the tab id).

[2020-09-06 00:22] austinjones commented on #77
This would be very broken in vi/nano sessions.  I think the client would need to know if there were recent ANSI escape sequences in the tab stdout.

[2020-09-06 01:49] austinjones commented on #58
Since Readme.md is now linked from Cargo.toml, I think this can be closed.

[2020-09-06 01:49] #58 closed

[2020-09-06 01:50] austinjones commented on #88
I think this setup is good to go.

[2020-09-06 01:50] #88 closed

[2020-09-06 01:57] austinjones opened #113 "Add configurable env vars to tab.yml configurations"

[2020-09-06 02:32] austinjones commented on #59
Closed by #112

[2020-09-06 02:32] #59 closed

[2020-09-06 02:33] austinjones commented on #57
Closed by #114

[2020-09-06 02:33] #57 closed

[2020-09-06 02:34] austinjones commented on #18
Removed from the 0.3.0 milestone, since there is strong coverage of this in the integration tests.  It's less direct, but good enough for now.

[2020-09-06 02:50] austinjones commented on #92
The daemon actually launches a reasonable number of pty processes, but they remain open indefinitely.

I looked at ways to shut down the pty process if it is idle too long, but there are synchronization issues (e.g. accept and timeout happen at the same time).

[2020-09-06 03:01] austinjones commented on #82
Resolved by #115

[2020-09-06 03:01] #82 closed

[2020-09-06 03:01] austinjones commented on #55
A bit of progress on the branch `austinjones-pty-tests`

[2020-09-06 04:00] austinjones commented on #53
Closed in #114

[2020-09-06 04:00] #53 closed

[2020-09-09 01:48] austinjones commented on #66
I got it down to 15.  Fantastic.

PR #117

[2020-09-09 03:58] #66 closed

[2020-09-09 15:00] austinjones commented on #30
I also need a non-zsh solution, but #118 solves the oh-my-zsh case (once I submit the plugin as a PR to oh-my-zsh).

[2020-09-10 06:23] austinjones commented on #30
Fixed in #119 - should work without oh-my-zsh too.

[2020-09-10 18:21] #30 closed

[2020-09-10 18:22] austinjones commented on #92
Resolved by my lunch break project on #120

[2020-09-10 19:03] #92 closed

[2020-09-11 01:33] austinjones commented on #14
The autocomplete installation scripts are complete.  I think this can be closed now, as setup is quick.

[2020-09-11 01:33] #14 closed

[2020-09-11 04:54] austinjones opened #124 "Fix switch test reliability issues"
I don't think there is a tab-daemon bug here, but something is funny with the switch test
[code]

[2020-09-11 05:27] austinjones commented on #124
Another one:
[code]

[2020-09-11 06:30] austinjones opened #126 "Set Daemon and PTY log level to INFO"
Reduce the daemon & pty log level to info when running in prod, to minimize the daemon logfile size

Provide some way to easily configure this.

[2020-09-11 06:31] austinjones commented on #86
v0.3.1 is up on homebrew.

Possible source for some ideas on automation: https://github.com/mxcl/swift-sh/blob/master/.travis.yml

[2020-09-12 03:23] austinjones opened #127 "The tab client leaves ubuntu terminals in raw mode"
The tab client fails to disable raw mode on an Ubuntu desktop when it exits (default terminal, bash).

[2020-09-12 16:45] passcod opened #129 "Running over unix socket instead of 127.0.0.1"
Just a random idea, would it be possible to run over a unix socket (on supported systems)? That would be even more secure, and possibly somewhat faster (though I doubt the bottleneck is socket speed).

[2020-09-13 01:16] #124 closed

[2020-09-13 01:25] austinjones commented on #129
Hi @passcod,
Great idea!  I'll look into it.

[2020-09-13 01:30] austinjones commented on #129
Looks quite easy to implement with https://docs.rs/tokio/0.2.22/tokio/net/struct.UnixStream.html

[2020-09-13 03:36] austinjones commented on #127
Closed by release #128 and release 0.3.2

[2020-09-13 03:36] #127 closed

[2020-09-13 03:37] #97 closed

[2020-09-13 04:32] austinjones commented on #126
Resolved in 0.3.2

[2020-09-13 04:32] #126 closed

[2020-09-13 04:35] austinjones commented on #25
There is now a PTY or DAE prefix.

[2020-09-13 04:35] #25 closed

[2020-09-14 14:57] austinjones opened #134 "Improve 'workspace switching' user experience"
I thought `cd` might be enough to switch workspaces (right now the command client looks in it's directory, and parent directory to resolve tabs).

But there is one case that isn't handled well.  If I'm in my home directory, and I want to open a named tab.  This should resolve to the metadata from my workspace, instead of launching an anonymous tab.

[2020-09-14 19:19] austinjones opened #135 "Bug when reconnecting to `top`/`ytop`"
Reconnecting to a running `top` or `ytop` session does not work.

**Reproduction**
[code]

**Expected Behavior**
The session resumes with the latest stdout.

**Actual Behavior**
No stdout is printed, and `ctrl-C`/`ctrl-Z` do nothing.

[2020-09-14 20:35] austinjones commented on #86
Automation setup is complete.  The `tab` job opens a PR, and the homebrew repo builds the bottles.

[2020-09-14 20:35] #86 closed

[2020-09-14 21:51] austinjones opened #136 "Debug and Trace logging options"
Add command-line options that enable debug and trace logging.  This should be transitive - the daemon and pty should inherit from the command process they were started by.

[2020-09-14 23:10] austinjones opened #137 "Serialized tab stdout"
**Story**
- As a user, I want tab to remember what I was doing.  I don't want a laptop reboot or a tab daemon restart to destroy my history.
- As a user, I want tab to be respectful of the passwords and secrets I may access in my terminal.  I don't ever want stdin saved, and I want to opt in to stdout persistence.

**Description**
As an optional feature for workspaces, repositories and tabs, save

[2020-09-15 01:05] austinjones opened #138 "Remember workspaces"
`tab -l` should only list tabs in your current workspace (or ones already launched).

But if you ask for a tab by name that doesn't exist in this workspace, but exists in another workspace, that tab should be selected.

[2020-09-15 03:28] austinjones commented on #135
`ctrl-C` does actually kill the process.

This is caused by frequent stdout chunks, faster than the scrollback chunks arrive.  I was able to reproduce with:
[code]

[2020-09-15 18:14] #136 closed

[2020-09-16 00:48] austinjones opened #140 "Send a pty resize on client connection"
When a client connects, send a resize of the terminal.

This will cause interactive applications to re-render for the correct terminal size.

[2020-09-16 02:09] austinjones commented on #135
Resolved by #141 and #142

[2020-09-16 02:10] austinjones commented on #140
Resolved by #142

Also, the Terminal Cursor state is reset.  It is shown, and blinking is disabled

[2020-09-16 02:10] #140 closed

[2020-09-16 02:10] #135 closed

[2020-09-16 22:21] austinjones commented on #101
Progress in #141.  Removed all the sleeps during retask.

[2020-09-17 03:22] austinjones commented on #138
One way to do this would be to give the workspace a name.  Then, you'd tab to the workspace, then tab to the repo.

[2020-09-17 03:31] austinjones commented on #44
This isn't so easy, as important processes may be running in the daemon's pty sessions.

Perhaps the client should warn about an API version mismatch, if the command & daemon's tab-api dependency differ?

[2020-09-24 18:13] austinjones opened #148 "Support repo links from workspaces, when no tab.yml exists in the repo"

[2020-09-29 19:00] austinjones opened #149 "Rename an existing tab"
Add `tab --rename tab tab2`

[2020-09-30 18:49] austinjones opened #150 "Find a tab from a substring"
`tab --find foo` should search for a substring match on foo, and possibly search the scrollback buffer.

[2020-10-02 16:38] steven807 opened #151 "$HOME/.tab/completion is not created"
When initially running `tab --install bash` I get:

    Error: No such file or directory (os error 2)

I had to `mkdir ~/.tab/completion` for it to work.

[2020-10-02 17:02] quininer commented on #62
Another option [alacritty_terminal](https://docs.rs/alacritty_terminal/0.10.0/alacritty_terminal/tty/trait.EventedReadWrite.html) ?

[2020-10-02 17:49] austinjones commented on #151
Thanks for the bug report!  I'll fix it ASAP.

[2020-10-02 18:18] #151 closed

[2020-10-02 18:55] austinjones commented on #151
Resolved in [v0.3.7](https://github.com/austinjones/tab-rs/releases/tag/v0.3.7).

[2020-10-02 19:53] figgis opened #154 "Failure to install completion if path isn't there"
See below for my session:

[code]

[2020-10-02 19:58] austinjones commented on #154
Hi @figgis,
Thanks for the detailed report!  I made a change earlier today #152, and just published `tab v0.3.7` that should resolve this issue.

[2020-10-02 20:14] figgis commented on #154
Thanks for prompt reply. I've should have checked master instead of just doing a `cargo install`.
Tested on 0.3.7 and it works as intended.

[2020-10-02 20:14] #154 closed

[2020-10-02 20:36] austinjones commented on #154
No problem at all!  I appreciate the report.  This environment/installation stuff can be pretty subtle.  Let me know if you run into any other issues.

[2020-10-02 21:15] austinjones commented on #62
@quininer oh cool!  I'll take a look at it.

[2020-10-02 22:13] austinjones opened #155 "Terminal window name isn't working"
The tab command client isn't renaming the terminal window when selecting a tab.

[2020-10-03 05:55] Jacobious52 opened #156 "BlinkSh Terminal emulator: install unsupported terminal app"
When running on the BlinkSh https://github.com/blinksh/blink with host macOS over ssh, the follow error is reported after hanging for about a minute.

This happens with any command. For example

[code]

Installed with cargo install

[2020-10-03 15:04] austinjones commented on #156
Hi @Jacobious52,
I think the `tab: unsupported terminal app` message is being printed by your shell.

I think it may be coming from this oh-my-zsh plugin, which wasn't installed on my system when I tested oh-my-zsh.  https://github.com/ohmyzsh/ohmyzsh/blob/master/plugins/osx/osx.plugin.zsh

The plugin defines a function which is suspiciously named `tab`: https://github.com/ohmyzsh/ohmyzsh/blob/mas

[2020-10-03 15:12] austinjones commented on #156
I was just able to reproduce it by adding the `osx` plugin to my `~/.zshrc`

[2020-10-03 16:15] eriksholmlund opened #157 "<tab> autocompletion not working properly for bash"
Pressing <tab> shows the correct tab list as suggestions, but autocompleting with <tab> either works unexpectedly or doesn't work at all.

How I installed tab:
[code]
in a `tab.yml` in one of my projects I have the following:
[code]
when I `cd` into the project, I can accurately press `tab tes<tab>` to autocomplete to `tab testrepo/` but when I try `tab testrepo/inp<tab>` it corrects me back to `t

[2020-10-03 17:04] austinjones commented on #157
Hi @eriksholmlund,
Thanks for the great bug report!  I took a closer look and my bash script definitely needs some work.

[2020-10-03 21:56] savq opened #159 "Use XDG Base Directory Specification"
The project is already using the [dirs](https://docs.rs/dirs/3.0.1/dirs/) crate which provides information on the XDG directory specification. I think it would be better if the project used the `config_dir` and `data_dir` functions, instead of creating a directory directly in $HOME.

[2020-10-03 22:09] rsignavong opened #161 "tab: unsupported terminal app: alacritty"
Hello,

After installed tab from brew, I tried the command `tab --install all` and then an macOS popping shown up asking for permissions but I don't remember what was it and accepted it.

Then the following error message is displayed whenever I launch a tab command.
[code]

What should I do?

[2020-10-03 22:14] austinjones commented on #161
Hi @rsignavong,
This is caused by a conflict with the `osx` oh-my-zsh plugin.  You should be able to fix it by removing that from your `~/.zshrc`.

[2020-10-03 22:18] austinjones commented on #161
If you want more details I wrote a bit more about it in #156

[2020-10-03 22:22] rsignavong commented on #161
Okay, I have removed this plugin that I have never used... and now it works!

By the way, you should update the doc for starship configuration because `prompt_order` is now called `format`.

[2020-10-03 22:36] austinjones commented on #157
I pushed a release with a fix (#158).  It should work now with `cargo install tab`, and `tab --install bash`.

[2020-10-03 22:43] austinjones commented on #161
Ah good catch!  0.45 came out!

Glad it's working!  Feel free to reach out if you run into any other issues or have ideas for features.

[2020-10-03 22:43] #161 closed

[2020-10-03 23:09] austinjones commented on #159
Ah, good suggestion!  I'll look into this.

[2020-10-04 02:54] austinjones commented on #155
I have a WIP implementation on `austinjones-terminal-title`, but I ran into an issue.  Applications running inside the pty shell send ANSI escape sequences which set the terminal title.  Implementing this would require implementing an ANSI escape sequence filter.

[2020-10-04 11:31] eriksholmlund commented on #157
Hi @austinjones,
It works perfectly now with default settings. Thanks for the quick fix!

[2020-10-04 11:31] #157 closed

[2020-10-04 17:57] userxfce opened #163 "Removing the tab binary after an upgrade breaks the running tab daemon"
under xubuntu 20.04 terminal (bash, also rxvt, gnome-terminal), "tab foo" hangs

workaround: removing ~/.tab/ and reinstalling via "tab --install all" solves it

[2020-10-04 18:10] userxfce opened #164 ""tab -w inexistent" should warn or error"
current behaviour, when attempting to close unexistent tab: silent
desired behaviour: display a warning or an error

[2020-10-04 18:12] userxfce opened #165 ""tab -w foo" requires multiple attempts to close the tab"
example:
tab foo
<command1>
tab bar
<command2>
tab foo
tab -w foo
#tab -l still diplays foo/ and bar/
tab -w foo
tab -w foo
tab -w foo
tab -w foo
#tab -l finnaly only displays bar/

same behaviour when attempting to close bar

[2020-10-04 20:09] austinjones commented on #163
Hi @userxfce,
Thanks for all the bug reports!  This one is really interesting - and I saw it once when I ran 'cargo uninstall' and then 'brew install'.  What happened here is the v0.3.7 tab binary was removed.  The daemon re-launches it's own executable to spawn PTY processes, and if the tab binary is removed it can't do this.

Removing the `~/.tab` directory was what fixed it - because it removed

[2020-10-04 20:11] austinjones commented on #164
Yeah, this makes sense!  I'll add this to v0.4.0

[2020-10-05 01:01] austinjones commented on #165
I just pushed v0.3.9 with some changes that may fix this, but I'm not certain that they will.

I tried testing (v0.3.8) on OSX and Ubuntu, and I couldn't reproduce it.  Does it happen consistently for you?  If you can reproduce it, could you capture the daemon log and upload it?  Here are some commands that will enable debug logging:
[code]

The daemon log is at `~/.tab/daemon.log`, and you can re

[2020-10-05 11:25] TheTeXnician opened #167 "Consistency for `tab -` behavior"
When running `tab -` (think of forgetting the`l` after it :wink:) I get the following output

[code]

which I would read as an illegal action resulting in a failure. Much to my surprise, however, a tab named `-` is generated and switched to. `tab -l` then shows

[code]

Would it be possible to either

* disable the error if `-` is a valid tab name,
* turn the error into an informational message th

[2020-10-05 14:01] savq commented on #159
That'd be great thank you, and thank you for writing tab! It's the only term-multiplexer that has worked "out-of-the-box" for me.

[2020-10-05 15:07] austinjones commented on #167
Ah, good catch.  Clap is parsing `tab -` as a positional argument, and `tab -/` as a flag with the short name `/`.

I think forbidding tab names that start with a hyphen is a good idea, as even if it got past this step, the name could be shadowed by CLI flags.

I'm glad you like the tool!  And thanks for the feature request :)

[2020-10-05 22:03] austinjones commented on #159
@savq I'm glad you like it!

And it's really great to hear it worked out of the box.  My top design goal was to be intuitive, and it sounds like it's working.

[2020-10-06 01:04] #138 closed

[2020-10-06 01:04] #148 closed

[2020-10-06 01:53] austinjones opened #169 "Add `tab --check`, a config validation utility"
Add a validation command that checks `tab.yml` for errors.  There are many misconfigurations that aren't serious enough to break tab selection.

Recurse the current scope, discover all configs, and lint them:
- Check for non-parsable configs
- Check for incorrect config types (e.g. a repo link that contains a workspace config)
- Check for invalid tab names (validated by the command-line parser in

[2020-10-06 02:15] austinjones commented on #167
I've implemented this in #170.  I'll update & close the issue once 0.4.0 is released.

[2020-10-06 02:21] austinjones commented on #64
This might be a bit difficult, as the autocomplete scripts would need to support the vararg.

[2020-10-06 16:01] sabitm opened #172 "Document how to disconnect from long-running processes in README.md (using ctrl-W)"
Hi, sorry if this is a silly question. But, how do i change to different tab when some command running?
Let's say if i run `sleep 1m` on tab 1/ and then i want to change to tab 2/, is there any method that i can do?

I've tried to bind `tab 1` and `tab 2` to a key in zsh using bindkey, but it doesn't work. Instead, it print the corresponding character to terminal (like `^[1`, `^[2`). I'm using ala

[2020-10-06 16:40] austinjones commented on #172
Good question!  I think I need to improve the readme docs to make this 'interactive program' case more clear.

You can use `ctrl-W` to disconnect the session.  Tab will drop you back to your root shell, and from there you can use the `tab <NAME>` command to select a new tab.  This should work with interactive programs (vi/nano/top), and with local servers that are producing logs.

I use alacritty

[2020-10-06 16:46] austinjones opened #173 "Repository tabs with invalid `dir` settings cannot be selected"
When you edit a repository configuration and set an invalid `dir` value (one that does not exist), tab hangs up when attempting to select the tab

If the directory does not exist, tab should produce a warning and not set any working directory.

The logs don't show anything obvious, but maybe the shell process is failing to initialize?

[2020-10-06 16:48] austinjones commented on #173
Here is a log of a tab hangup.  There is no CLI output.
[log.txt](https://github.com/austinjones/tab-rs/files/5335376/log.txt)

[2020-10-06 16:53] austinjones opened #174 "Add a Navigation doc section in the Quickstart"
Add a Navigation section that documents how to
- select tabs,
- select workspaces (once 0.4.0 is out with workspace tab support),
- navigate away from and resume sessions with interactive applications

[2020-10-06 18:01] sabitm commented on #172
Wow, silly me. I should've tried that command XD. Thanks very much
if you're curious, this is the output of `ps aux` when `tab 1` command executed through alacritty's keybinding:

[code]

The `?` on `TTY` column seems suspicious. Maybe that's the problem?

[2020-10-06 18:19] austinjones commented on #172
Thanks for the output!  In the retask case the tab command exits, so it looks like these commands are spawning as an interactive client.

[2020-10-06 18:41] sabitm commented on #172
Yeah, that's true. Maybe that's just how alacritty's `command:` keybinding works right? And that's no longer an issue for me too with `Ctrl + w` now works and i can use other keybinding like zsh' bindkey.

[2020-10-07 00:29] austinjones commented on #159
I've implemented this in #171 and it will be released in 0.4.0.

[2020-10-07 00:43] austinjones commented on #173
Fix implemented in #175, going out in 0.4.0

[2020-10-07 00:48] austinjones commented on #172
Excellent!  I'll leave this open until I improve the docs - I'm planning on adding a section on common navigation - as I've been working on some features that help with multiple workspaces.

[2020-10-07 01:45] austinjones commented on #64
Fish doesn't even support `-w foo bar baz' completions.  This was easy to implement with Clap, but fish and zsh do not support dynamic vararg completions (which honestly makes sense).  Not even with '-w foo -w bar'.

[2020-10-07 02:03] austinjones commented on #74
Bumping to 0.5.0, as 0.4.0 will support `tab -w foo bar baz`.

[2020-10-07 06:17] sabitm commented on #172
Great! Thanks for your good work. Tab-rs has been a nice fit for me!

[2020-10-07 11:14] Jacobious52 commented on #1
This would be a great feature to have. Perhaps something with fuzzy search like [fzf](https://github.com/junegunn/fzf) or [skim](https://github.com/lotabout/skim) would work well, if not overkill.

[2020-10-07 14:57] austinjones commented on #1
@Jacobious52 Yep!  That's exactly what I was thinking.  Plus I can search the workspace / repo docstrings as well.

[2020-10-07 17:46] austinjones commented on #172
No problem!  I'm glad it's working out for you.

[2020-10-07 21:16] austinjones commented on #163
The tab daemon should monitor it's own executable, as well as the tab runtime directory.  If the file doesn't exist, it should trigger a global shutdown.

[2020-10-08 07:55] Jacobious52 commented on #1
Nice! For fun/learning I did a super rough and buggy proof of concept in a fork in the `fuzzy-poc` [branch here](https://github.com/austinjones/tab-rs/compare/main...Jacobious52:fuzzy-poc) . I used `skim` since it has a rust library but matches `fzf` in functionality/quality, I think `skim` is quiet heavy on dependences though, so not sure if you wanna go that route. UX wise it feels good though.

[2020-10-08 08:47] TheTeXnician opened #177 "Make the tab's shell configurable"
After playing with tab for some time, I'm very happy with the tool and its capabilities. One option I am missing though: specifying the shell to run when the tab is started. Something like the following configuration (based on your example) would be great:

[code]

As an explanation: I'm using `fish` shell regularly but due to some compatibility issues of that shell my login shell is `zsh`. So `ta

[2020-10-08 15:20] austinjones commented on #1
Woah!  _Super cool._

Yeah, Rayon & Crossbeam.  They make sense - it's based on blocking I/O.  I also found https://github.com/jhbabon/scout which runs on smol/asyncstd.

I like the fzf search syntax.  It's be nice if I could support that.

I'll probably get back to this in a week or so once 0.4.0 is out.  This is gonna be so cool!

[2020-10-08 15:26] austinjones commented on #177
I'll add this to the next release.  It's really easy - a 1-line enhancement: https://github.com/austinjones/tab-rs/blob/main/tab-command/src/service/create_tab.rs#L76

I'll probably have it out this weekend.  And thanks for the feature request!

[2020-10-08 16:18] austinjones opened #178 "Make tab environment variables configurable"
Add configurable environment variables to workspace & repository tabs.

[2020-10-08 22:44] austinjones commented on #129
Unfortunately, I have to bump this to 0.5.0.  I ran into some issues with the Tokio executor - UnixStream requires a thread-local runtime.

[2020-10-09 00:22] austinjones opened #181 "Rare failure in the reconnect regression tests"
There is a very rare failure in the reconnect integration test:
[code]

[2020-10-09 14:53] austinjones commented on #178
Implemented in #179, and documented in #182.

[2020-10-09 15:02] austinjones commented on #177
I've implemented this in #179.  The `shell` attribute is supported in the repo root as well as per tab.

Here is an example config:
https://github.com/austinjones/tab-rs/pull/182/files#diff-2667bd86b31eee7e27105393c8e5ab26

[2020-10-09 15:03] austinjones commented on #44
Incompatibility warnings were added in #180, including tab version mismatches!

[2020-10-09 15:03] #44 closed

[2020-10-09 17:59] TheTeXnician commented on #177
Many thanks for the fast reply and implementation. This looks really good :+1:

[2020-10-09 19:25] chrisbouchard opened #183 "Make Ctrl-W configurable or escapable"
The Ctrl-W sequence is used by some terminal commands&nbsp;&mdash; in my case, by Vim for window management. It would be good to have a way to do at least one of the following:

1. Change the Ctrl-W binding to a different sequence,
2. Bind a different sequence to send a literal Ctrl-W (similar to Ctrl-A A in screen), _or_
3. Disable the Ctrl-W binding (possibly conditionally).

My personal prefere

[2020-10-09 19:39] austinjones opened #184 "Clean up the ~/.tab directory"
In #159, the tab runtime directory was moved from ~/.tab to the user data directory.  That change is going out with 0.4.0

Add a warning in 0.5.0 that ~/.tab can be cleaned up.

[2020-10-09 20:48] austinjones commented on #183
@chrisbouchard Interesting.  I'll need to think about how to handle this.  I had thought that `termwinkey` could be used to rebind vim, but it doesn't look like it works for the split/switch commands.

The code that recognizes the Ctrl-W is here: https://github.com/austinjones/tab-rs/blob/main/tab-command/src/service/terminal/echo_mode.rs#L81

I may add a global config that can be used to rebind t

[2020-10-09 22:45] austinjones commented on #163
In 0.4.0, there are incompatibility warnings for two cases (added in #180).
- If the tab daemon was launched from a different executable file path than the tab client
- If the tab daemon is on a different non-patch version than the tab client (e.g. 0.3.X vs 0.4.X)

Both warning messages recommend `tab --shutdown`.

I decided against auto-shutdown if the tab executable is removed because existing t

[2020-10-10 17:45] userxfce commented on #165
It seems to have been fixed in the main/HEAD. It also dispays a message (undisplayed previously, namely: "Closing tab: bar/", which is nice feedback.
However, when closing the current tab (i.e. tab foo, then tab -w foo), it displays "[ERROR] ERR: TerminalEchoService/stdout: task was cancelled", which is feedback, but not that user-friendly.
I think this can be closed.

[2020-10-10 17:47] userxfce commented on #164
Has this been fixed in commit a0d726e588122cbcb6e61be61ffa83f84ee2f31d?
It now displays "Tab not running: inex/".

[2020-10-10 17:49] userxfce commented on #163
After having run "tab --install all", and then "tab -shutdown", now running "tab" no longer hangs.
I think this should be closed.

[2020-10-10 17:54] userxfce commented on #165
Same bahviour when running "tab", then 'tab -w any", which is again closing the current tab:
"CMD [ERROR] ERR: TerminalEchoService/stdout: task was cancelled" is displayed.
Closing the curent tab chould maybe ask for confirmation, or disabled, or display a more user-friendly message.

ANother point (hesitating whether to log a ticket): should a special "tab <command>" be an alternative to control-

[2020-10-10 18:48] austinjones opened #188 "Add `tab --disconnect` which disconnects the current session"
In #165 @userxfce suggested that `tab --disconnect` might be useful for scripts.

When invoked, use the `retask` logic to find connected clients, and notify them to disconnect.

[2020-10-10 19:11] austinjones commented on #165
Thanks for the followup and testing on main!   I like the `tab --disconnect` idea - that seems useful (I've added #188).

The behavior on closing the current tab is supposed to be:
[code]

This `tab -w current-tab` case is a bit tough.  The invoked `tab` process triggers both terminal I/O and a shutdown notification at the same time.  In the outer `tab` process, I wait 25ms for any final terminal

[2020-10-10 19:29] austinjones commented on #165
Allright, I've improved the error message in #189.  I'm closing this issue.

[2020-10-10 19:29] #165 closed

[2020-10-10 19:30] austinjones commented on #164
Yes, in #176.  I'm preparing to release it in 0.4.0 today.

[2020-10-10 21:43] userxfce commented on #165
"I'm not sure why it's happening every time for you though" - it might be because of a heavily-customized (and heavy) prompt, based on a Bash "trap DEBUG" (basically, trapping the ENTER key).

[2020-10-10 21:59] austinjones opened #190 "Remember tab docstring for running tabs"
When launching a tab from a workspace, it's possible to `cd` away from the workspace.  When this happens, the tab docstring is lost, as the tab client cannot find the `tab.yml` config.

Save the tab docstring in the TabMetadata, and fall back to the saved docstring if there is no workspace match.

[2020-10-10 22:12] austinjones commented on #165
Ah, that might do it :D

[2020-10-10 22:28] userxfce commented on #87
A possible starting point:
https://docs.rs/cargo-deb/1.28.0/cargo_deb/

[2020-10-10 22:52] austinjones commented on #159
In case anyone needs to find the tab runtime directory, here are the paths used in 0.4.0:
- Linux: `$XDG_DATA_HOME/tab` or `$HOME/.local/share/tab`
- MacOS: `$HOME/Library/Application Support/tab`

[2020-10-10 23:11] austinjones commented on #87
Oh, nice!  That'll make it so much easier.

[2020-10-10 23:23] austinjones opened #193 "Support links between workspaces"
Workspaces have an associated 'tab'.  Support links between workspaces which allow quick lateral navigation between workspaces.

[2020-10-10 23:26] austinjones commented on #193
This was implemented in #168, but I actually think lateral navigation is more useful (enough to have it's own issue).

An example is here: https://github.com/austinjones/tab-rs/blob/main/examples/advanced-workspace/tab.yml

[2020-10-10 23:59] austinjones commented on #134
There is progress on this in 0.4.0 with #193.  It's a lot easier to move between workspaces now.

[2020-10-11 00:51] austinjones commented on #193
Closing, [v0.4.0](https://github.com/austinjones/tab-rs/releases/tag/v0.4.0) is released!

[2020-10-11 00:51] #193 closed

[2020-10-11 00:51] austinjones commented on #178
Closing, [v0.4.0](https://github.com/austinjones/tab-rs/releases/tag/v0.4.0) is released!

[2020-10-11 00:51] #178 closed

[2020-10-11 00:51] austinjones commented on #177
Closing, [v0.4.0](https://github.com/austinjones/tab-rs/releases/tag/v0.4.0) is released!

[2020-10-11 00:51] #177 closed

[2020-10-11 00:52] austinjones commented on #174
Closing, [v0.4.0](https://github.com/austinjones/tab-rs/releases/tag/v0.4.0) is released!

[2020-10-11 00:52] #174 closed

[2020-10-11 00:52] austinjones commented on #173
Closing, [v0.4.0](https://github.com/austinjones/tab-rs/releases/tag/v0.4.0) is released!

[2020-10-11 00:52] #173 closed

[2020-10-11 00:52] austinjones commented on #172
Closing, [v0.4.0](https://github.com/austinjones/tab-rs/releases/tag/v0.4.0) is released!  And documentation is on `main`.

[2020-10-11 00:52] #172 closed

[2020-10-11 00:53] austinjones commented on #167
Closing, [v0.4.0](https://github.com/austinjones/tab-rs/releases/tag/v0.4.0) is released!

[2020-10-11 00:53] #167 closed

[2020-10-11 00:53] austinjones commented on #164
Closing, [v0.4.0](https://github.com/austinjones/tab-rs/releases/tag/v0.4.0) is released!

[2020-10-11 00:53] #164 closed

[2020-10-11 00:54] austinjones commented on #163
Closing, [v0.4.0](https://github.com/austinjones/tab-rs/releases/tag/v0.4.0) is released!

[2020-10-11 00:54] #163 closed

[2020-10-11 00:55] austinjones commented on #159
Closing, this was released in [v0.4.0](https://github.com/austinjones/tab-rs/releases/tag/v0.4.0)!

[2020-10-11 00:55] #159 closed

[2020-10-11 00:55] austinjones commented on #64
Closing, released in [v0.4.0](https://github.com/austinjones/tab-rs/releases/tag/v0.4.0)!

[2020-10-11 00:55] #64 closed

[2020-10-11 00:55] austinjones commented on #52
Closing, released in [v0.4.0](https://github.com/austinjones/tab-rs/releases/tag/v0.4.0)!

[2020-10-11 00:55] #52 closed

[2020-10-11 01:39] austinjones commented on #113
Duplicate of #178

[2020-10-11 01:39] #113 closed

[2020-10-12 11:45] solarizedalias commented on #183
Hi,
I want to +1 for disabling the bind with user configs because there are too many things which expect a certain key-sequence and it's difficult to avoid clashes for all those. It should be optional to use key-bindings or not.
Personally, it feels inconsistent that you can do any other operation (starting, closing, listing) with commands `tab <something>` but you have to use a keybind to disconn

[2020-10-12 15:27] austinjones commented on #183
Yeah, I agree!  I'm definitely adding this and #188 to the next release.

And yes, it should work in aliases and scripts.  If you don't care about the exit code then `alias bye='tab --disconnect'` would work too.

[2020-10-13 11:13] solarizedalias commented on #183
My point was that you wouldn't have to care about whether you're *in tab* or not, you just always say `bye` to the terminal when leaving (btw in zsh, `bye` is actually a builtin which does the same as `exit`).
But I see some cases where key-bindings are more useful (already running another command, hangups, etc) so the both has its own place.
I'm looking forward to the next release anyway, thanks!

[2020-10-13 16:42] austinjones commented on #1
@Jacobious52 I just merged initial support for this in #195.  I used the [fuzzy-matcher](https://crates.io/crates/fuzzy-matcher) crate that Skim uses, so the matching behavior should be similar.

I wrote my [own UI](https://github.com/austinjones/tab-rs/blob/main/tab-command/src/service/terminal/fuzzy.rs) because I wanted it to be based on async and crossterm.  Skim wasn't async, and scout was /de

[2020-10-13 17:33] austinjones commented on #50
Closed - implementing in #190

[2020-10-13 17:33] #50 closed

[2020-10-14 07:36] Jacobious52 commented on #1
Wow! Looks awesome! Combining fuzzy-matcher` with `crossterm` looks like a great choice 👍  Can't wait to try it out.

[2020-10-17 21:00] #181 closed

[2020-10-17 23:17] austinjones commented on #1
I think this is stable on the main branch, so I'm closing this.

[2020-10-17 23:17] #1 closed

[2020-10-17 23:28] austinjones opened #200 "Integration test coverage"
Write integration tests covering:
- `tab -w`
- tab docstrings (#190)
- workspace tabs & anonymous tabs

[2020-10-18 00:08] #55 closed

[2020-10-18 00:38] #190 closed

[2020-10-18 01:10] austinjones commented on #74
Bumping again, as there are much higher value items on main that need to be released.

[2020-10-18 01:22] #188 closed

[2020-10-18 02:10] austinjones opened #203 "Try to parse docstrings from README.md"
If a project contains a README.md with suitable early contents, parse out a docstring.

[2020-10-18 02:50] austinjones opened #204 "Workspace tests"
Tests covering Workspace YML and the parsing of WorkspaceTabs.

[2020-10-18 04:04] #204 closed

[2020-10-19 18:03] austinjones commented on #169
Resolved by #207 and #208

[2020-10-19 18:03] #169 closed

[2020-10-22 01:51] austinjones commented on #183
@solarizedalias thanks for all the info, it was really helpful!

On main I've implemented `tab --disconnect` / `tab -z`, which can be run as a command, or within an alias/script.  When invoked with no args, it will disconnect the active session.  The shell alias `bye = tab --disconnect || exit` should do what you want.  `tab --close` / `tab -w` now also close the current tab if no args are provide

[2020-10-23 02:40] austinjones commented on #200
`tab -w` was covered in #213
workspace tabs were covered in #205

[2020-10-23 03:57] austinjones opened #215 "Terminal state not completely restored when escaping from nano"
*Description*
Something strange is happening in 0.5.0 prerelease with the terminal state when disconnecting from a nano session.

*Steps to reproduce*
[code]

*Expected Behavior*
The fuzzy finder responds to up/down arrow keys

*Actual Behavior*
The up/down arrow keys do nothing.

[2020-10-23 04:04] austinjones commented on #215
This appears to be caused by the terminal being left on the alternate screen.

[2020-10-23 22:44] austinjones commented on #215
Fixed in #216 by writing the `xterm rmkx` escape sequence on shutdown.

[2020-10-24 04:54] austinjones commented on #215
I've confirmed the bug is fixed on main.  I'm wondering if there is a more portable way to send the escape sequence than assuming xterm.

It is an ANSI sequence, so it'd likely be ignored in xterm incompatible shells.  Maybe KeypadLocal/KeypadXmit would do it?

https://docs.rs/terminfo/0.7.3/terminfo/capability/index.html

[2020-10-25 19:23] austinjones opened #221 "ZSH installer fails on OSX if user has a restricted account"
If the active user doesn't have admin permissions and doesn't have oh-my-zsh, the zsh installer fails with 'No such file or directory'.

*Expected Behavior*
The installer succeeds and autocompletes works.

*Actual Behavior*
The installer fails with 'No such file or directory'.

[2020-10-25 21:57] #215 closed

[2020-10-25 21:58] austinjones commented on #183
v0.5.0 is out!  Here is the documentation on how to configure this:
https://github.com/austinjones/tab-rs/blob/main/examples/advanced-workspace/tab.yml#L49

[2020-10-25 21:58] #183 closed

[2020-10-26 22:48] jcvar opened #224 "Add empty/no-tab option to new fuzzy finder"
I'd like to propose that the fuzzy finder's default selection be: disconnect from the current session. That way, `ctrl-t <enter>` matches the behavior of `ctrl-w` prior to 0.5.

Thank you for the work in this project.

[2020-10-27 01:06] austinjones commented on #224
Hi @jcvar,
`ctrl-T ESC` should do what you need.  That's how I get back to my root shell now.  I'm being quite cautious with keybindings because there are so many conflicts with other CLI tools.

Also, if you want ctrl-W back, you can bind it in `~/.config/tab.yml`:
[code]

I have been thinking about the behavior when you enter input that doesn't match any tabs.  Right now the finder exits to the

[2020-10-28 02:42] jcvar commented on #224
Thank you, best put it in the docs. I was disconnecting by forcing a no-match in the finder like you mention.

Not to derail the issue but I had the doubt:
Why option flags instead of subcommands?

[2020-10-28 03:27] austinjones commented on #224
I will!  And thanks for the comments - it's really helpful to see where things are working and where they aren't!

Good question on the subcommands - that was a design choice I made early on.  Tab is designed to ask for as few keystrokes as possible to reach the target.  Flags allow that path to be even shorter.  Dynamic autocomplete & now the fuzzy finder are support in that goal.

[2020-10-28 23:15] #224 closed

[2020-11-03 18:10] austinjones opened #225 "Add support for PATH entries in workspace configurations."
Add support for defining $PATH entries in tab.yml configurations.

[2020-11-03 21:50] kyle-mccarthy opened #226 "Rendering issue with neovim"
When neovim is used inside a "tab" it leads to layout and navigation issues inside vim. I've attached a gif to help explain the behavior I'm seeing.

**Environment:**
- tab 0.5.0
- NVIM v0.5.0-nightly-36-g186ba3b68
- alacritty 0.6.0-dev (5986842)
- macos 10.15.7

![2020-11-03 15 40 06](https://user-images.githubusercontent.com/7758522/98044248-32ff1f80-1dec-11eb-9440-9f191fe69163.gif)

As a side n

[2020-11-04 01:14] austinjones commented on #226
Hi Kyle,
Thanks for the report!  The gif is really helpful.

I'll put out a patch release once I figure out what is going on here.

[2020-11-05 14:36] ArticOceanWater commented on #226
Hey ,I just wanted to tell that I've been experiencing a similar issue with an another editor called kakoune.
Do you need a recording of the bug?

**Environment:**
- tab [0.5.0]
- kakoune [2020.09.01]
- Arch Linux [kernel: 5.9.2-zen1-1-zen]
- alacritty-ligatures-git [0.6.0]

[2020-11-17 18:07] austinjones commented on #226
Hi @kyle-mccarthy and @ArticOceanWater - I think I figured out what is happening here.  I'm sorry it took a while, this one was tough to crack.

I'm working on a fix, and I'll let you know once I've published a release!

[2020-11-19 03:18] #226 closed

[2020-11-19 05:17] austinjones opened #230 "Retasked sessions are not resized when re-connected"
When the tab command client connects to a session, it is supposed to immediately send a resize request.  This allows interactive apps to repaint the TUI with correct dimensions.

This is not occurring for retasked sessions, and possibly for fuzzy-redirected sessions (via ctrl-T).

The but does not occur for new sessions (e.g. `tab foo` from the root shell).

**Environment/Versions**
tab v0.5.1
fis

[2020-11-19 05:30] austinjones commented on #226
@kyle-mccarthy and @ArticOceanWater, thanks again for the great bug report!  I just published [v0.5.1](https://github.com/austinjones/tab-rs/releases/tag/v0.5.1) with several fixes.  There were a few issues:
- The command client was printing some '\r' characters that it should not have.  That was causing the corruption with text appearing before the line numbers.
- The max size of the scrollback b

[2020-11-20 14:34] shytikov opened #231 "Add binaries compiled fro ARM platform (raspberry pi)"
I found `tab-rs` much more usable comparing to `screen` and `tmux`, but unfortunately cannot use it on my raspberry pi 3a+.

I'm just not able to install `rust`. I assume `rustup` just fails to unpack `rustc` archive, because of 512 MB RAM. Don't quote me on that but it looks like it uses RAM as temporary storage and then it exhausted it just dies.

But that basically means I cannot use `tab-rs` t

[2020-11-21 02:25] nebbishhacker opened #232 "Create new tabs in the fuzzy finder"
I would like to be able to create new tabs in the fuzzy finder.

Perhaps a "new tab" option could be added to the bottom of the list of tabs. If there are no matches it would get selected by default, and if there are partial matches you would still be able to create a new tab named by manually selecting the option. Something like this:
[code]

[2020-11-21 02:41] austinjones commented on #232
Yeah, I've been thinking about this!  I like the idea of having it be the last option.  Then once you've typed your new tab name, it likely won't match anything else.

[2020-11-21 02:59] austinjones commented on #231
I'll take a look at this.

In the meantime, you might be able to cross-compile it using a gcc-arm linker from another machine.  https://chacin.dev/blog/cross-compiling-rust-for-the-raspberry-pi/

[2020-11-21 18:41] #230 closed

[2020-11-22 20:05] austinjones commented on #231
I got this working!  I'm rebuilding v0.5.1 for ARMv7.

[2020-11-22 20:35] austinjones commented on #231
@shytikov, I just uploaded an ARMv7 binary to the [v0.5.1](https://github.com/austinjones/tab-rs/releases/tag/v0.5.1) release page.

[2020-11-22 22:27] casonadams opened #236 "Different sized tab preview breaks views"
Steps to reproduce
terminal emulator: alacritty
OS: OSX

Open 2 alacritty terminals
Term1 size 120x60
Term2 size 120x30
Create `tab pair` in Term1
Connect to `tab pair` in Term2
Open a document with `vim` that is longer then 120
Scroll to end of document

Term2 shows currently line but other lines are artifacts and out of date.

`tmux` allows a config to force the window to be displayed only as th

[2020-11-22 23:58] austinjones commented on #236
Hi @casonadams,
Thanks for the bug report!  Which version of tab are you running? `tab -V`.  I fixed several rendering corruption bugs in v0.5.1, and I have one fix relating to resizing (#233) staged and going out in a release tomorrow.

The intended behavior in tab is that the session is resized whenever it is reconnected.  My thought was that any secondary windows are likely to be offscreen, so

[2020-11-23 00:15] casonadams commented on #236
tab version; `0.5.1`

Here is what is happening as I scroll with `vi` in `tab`

![tab](https://user-images.githubusercontent.com/17597548/99921213-1ae13880-2ce6-11eb-953c-43fc9cf96129.gif)

[2020-11-23 04:05] austinjones commented on #236
Oh, I see!  Thanks for the gif :)

I'll see what I can do here.

[2020-11-23 04:21] casonadams commented on #236
Point me in a direction and I’ll see if I can help too.  This project looks amazing!  Would love to help contribute.

[2020-11-23 05:04] casonadams opened #237 "Missing `workspace` in `~/.config/tab.yml`"
tab version: 0.5.1

Error message:
[code]

~/.config/tab.yml
[code]

[2020-11-23 05:11] casonadams opened #238 "Switching tabs leaves garbage in shell prompt"
tab version: 0.5.1

`vi` in one tab (pair)
Created another tab (new) from (inside of pair tab)
Switch between tabs via `ctrl-T`

![tab_garbage_switch](https://user-images.githubusercontent.com/17597548/99930768-825fae00-2d0f-11eb-93db-05b4c6ede5ab.gif)

[2020-11-23 05:28] casonadams opened #239 "Tab window size fails to adjust on tab switch after a window resize"
tab version: 0.5.1

Open terminal in 80x80
Create tab
Create second tab
Open file with `vi`
Resize window to 80x160
Switch tab to second tab via `ctrl+T`
Switch tab back to first tab `vi` `ctrl+T`
Window is original 80x80

![tab_terminal_resize](https://user-images.githubusercontent.com/17597548/99931393-92788d00-2d11-11eb-968a-9d2f8398cdd7.gif)

[2020-11-23 16:23] austinjones commented on #237
You can fix this by adding `workspace: []` to the config.  The workspace and key_binding configs are parsed separately, so this doesn't prevent the keybindings from taking effect.

[2020-11-23 16:26] austinjones commented on #238
I haven't seen this one before.  Which shell are you using?

[2020-11-23 16:27] austinjones commented on #239
This was fixed in #230.

[2020-11-23 16:28] casonadams commented on #238
This is a bash shell. (OSX)

[2020-11-23 17:05] austinjones commented on #238
Ah, yes!  This one is really interesting.  I was able to reproduce it.
- `tab any`
- `vi foo`
- `q!`
- `ctrl-T other`
- `ctrl-T any`

It happens when vi was opened within a session and then quit.  It affects the session, but not the client.  It looks like these characters are even saved in the scrollback buffer.

Most of the bugs like this that I've seen relate to the session leaking state to the

[2020-11-23 18:18] austinjones commented on #236
That would be awesome!  I'll try to find a good first issue for ya :)

[2020-11-23 19:38] casonadams commented on #239
Should we close this one out then?

[2020-11-23 19:39] casonadams commented on #237
Great thanks!

[2020-11-23 19:39] #237 closed

[2020-11-23 20:10] austinjones commented on #239
Yeah.  I think I'll be ready to release the fix tonight, or maybe tomorrow.

Thanks so much for all these reports!  They really help w/ nailing down the outstanding bugs.

[2020-11-23 20:10] #239 closed

[2020-11-23 20:13] casonadams commented on #239
This is awesome that you are jamming on these issues so quickly!  I really want to switch from `tmux` to `tab`!  I love to remote pair program and having a tab session available to pair in is fantastic! The sandboxing is super cool BTW!

[2020-11-24 03:32] austinjones commented on #238
This is an ANSI escape code called 'Device Status Report'.  The full string is `[2;2R[3;1R]10;rgb:c6c6/c6c6/c4c4`.

https://en.wikipedia.org/wiki/ANSI_escape_code

[code]

The escape sequence `CSI 6n` is being saved in the scrollback buffer, which is causing the terminal to echo the cursor position.  But the shell is the active application, not `vi`...

[2020-11-24 03:49] austinjones commented on #238
Here is another one from the OSX terminal & fish:
`[2;2R[3;3R[>1;95;0c]10;rgb:ffff/ffff/ffff`

[2020-11-24 04:32] austinjones commented on #238
Yep!  Fixed it by filtering that escape sequence in the scrollback buffer.

[2020-11-24 05:14] austinjones commented on #51
@casonadams if you are interested in contributing a PR I think this one would be fun.  The idea here is to explain a bit better which workspace tabs are 'active' - by testing if the workspace tab is equal (or a parent) to the current directory.

WorkspaceTab has a `directory` property that can be used.  It might come from a workspace/repo config, or the directory an anonymous tab was spawned from

[2020-11-24 06:01] austinjones commented on #239
Yeah!  Really cool to hear that!  `tmux` is definitely more stable, but `tab` is getting there.

It's a small-ish project with low tech debt and a ton of testing, so it's easy to move fast.  It takes maybe 6-8 hours a week to keep things moving.  And rust+async are killer... the performance is awesome...

[2020-11-24 19:02] kseistrup opened #241 "Name collision with tab, the programming language"
The programming language tab, which has been around since 2014, is using the name `tab` for its binary.

It is somewhat unfortunate that tab-rs is using the same name for one of its binaries. For instance, it is impossible to install both tab, the programming language, and tab-rs, the multiplexer, in ArchLinux, as tab-rs conflicts with tab:

* https://aur.archlinux.org/packages/tab
* https://aur.a

[2020-11-24 19:37] austinjones commented on #241
Hi @kseistrup,
I see the issue... I'll take a look at this and I'll see if I can find a solution.  I did some searching for conflicts when I named the project, and it appears I missed the tab programming language.

I don't think the tab-rs package would break if it's installed to `tab-rs`.  But the documentation in `tab --help` and the readme docs would have an incorrect binary name.

[2020-11-24 20:18] kseistrup commented on #241
Thank you. I am currently playing with a customized package that uses the name `tab-rs` for the binary. For an uninitiated it seems to work just fine.

[2020-11-24 20:47] casonadams commented on #51
So what does `active` mean here.

I am assuming that `active` means there is a tab running, rather than just a workspace defined?

[2020-11-24 21:12] austinjones commented on #241
Sure!  All it needs to run is write access to `$XDG_CONFIG_HOME/tab` as the current user, and permission to relaunch the executable that was invoked on the command line.  Everything is built into one binary.

By the way, thank you for deploying tab on arch linux!  It's really cool that you are making it more accessible.  Let me know however I can help.

I think there are two things I can do here:

[2020-11-24 21:53] austinjones opened #242 "Inherit tab configuration when opening a sub-tab"
Once you've been using tab for a while, it's common to need a new tab for temporary use (e.g. ssh/x-service).  You may have an existing workspace tab defined for `ssh` with a working directory or env config.

Look at defining some kind of inheritance for this case, if an existing workspace tab is defined.

[2020-11-25 00:19] austinjones commented on #51
Just that the user's working directory is within the tab's directory.  The idea is that it'll make it more clear when you are within a workspace or a repo.

Your PR screenshot looks awesome.  I'll review it in a sec.

[2020-11-25 04:36] casonadams commented on #87
Might consider [FPM](https://github.com/jordansissel/fpm) it supports many packages out of the gate.

[2020-11-25 05:37] sabitm opened #244 "Failed to initialize the tab command: IO error: Connection refused"
Hi again!

This time, i encounter some random errors within some login session. This is truly random though, and sometimes i just have to restart my computer to get it working again. But, it bugs me enough when one restart can't solve this problem. Sometimes i need to restart twice. This is the exact error:

[code]
Funnily, i can run `tab` command with sudo to get rid of the error. But, yeah... yo

[2020-11-25 15:40] #51 closed

[2020-11-25 15:51] austinjones commented on #51
Merged!  It's working great :)

[2020-11-25 16:03] austinjones commented on #244
Hi @sabitm,
Tab launches the daemon as the current user when you first run the `tab` command.  The command client needs access to the [dirs::data_dir()[(https://docs.rs/dirs/3.0.1/dirs/fn.data_dir.html) path.

There are a few things you could check when this happens:
- The data_dir has a daemon-pidfile.yml.  is that process running, and is it the command `tab --_launch daemon`?
- You can also laun

[2020-11-25 16:07] austinjones commented on #244
Hmm, I got a similar error by launching the daemon with `sudo tab foo`, then trying to connect as my normal user:
[code]

Is the daemon being launched as root, or another local user?

[2020-11-26 03:10] austinjones opened #245 "Add `--doc` flag which updates a tab docstring"
Add `tab --doc` which updates a tab's docstring.

The behavior when combined with `tab <name>` needs some thought.  In some cases, you might want to select the tab (if you are creating a new tab).

The behavior on workspace tabs would also need some definition here.  I don't want tab writing to tab.yml files.  But updates to workspace tabs would only survive until a daemon restart.  Perhaps an err

[2020-11-27 16:38] mrksu commented on #238
Hi, this might be a separate issue but I'm also getting some control sequences in my terminal after switching between tabs:

* `]11;rgb:1d1d/1f1f/2121` in Fish
* `11;rgb:1d1d/1f1f/2121` in Bash

In both cases, I'm using the Starship prompt in my Fish or Bash, and in both cases, I opened and closed Neovim in the tab.

My `tab` version is 0.5.1.

Should I open a separate issue or give you more detai

[2020-11-27 21:11] austinjones commented on #238
Hi @mrksu,
Yeah, it's a related issue.  It's another ANSI escape sequence that is replied to by the terminal emulator.  I diagnosed it and I'm working on a fix for the next patch release.

[2020-11-28 02:26] zsugabubus opened #246 "Have you considered alternatives?"
Hi,

Sorry for disturbing you with such a silly question but I just randomly browsed GitHub projects and I come across with `tab`. I have read through manual page, looked into `tab.yml`, checked `tab -h` but I could not come up with a reasonable answer about what "market gap" this project would like to fill or where `tab` could be really beneficial over others.

I’m currently using [abduco](https:

[2020-11-28 18:58] nebbishhacker commented on #244
I've just encountered the exact same error as @sabitm. As far as I could tell, the tab daemon was not running, but the `daemon-pid.yml` was still there.

I deleted `~/.local/share/tab/daemon-pid.yml` and it started working again.

[2020-11-29 03:00] sabitm commented on #244
Sorry for the late reply. I have a hard time reproducing this problem again. It's not clear to me what the cause of this. And I'm not encountering this problem again since. Here's my insight last time I got the error.

- When the error happened, there was a `daemon-pid.yml`. But the tab daemon was not running (as said by @nebbishhacker)
- Running all tab command (--shutdown, --log, etc.) results i

[2020-11-29 03:34] austinjones commented on #244
@sabitm, no worries.  I understand what is happening here now, and how to fix it.  Thank you so much (and @nebbishhacker) for the info!

If the daemon shuts down gracefully, it deletes it's pidfile.  Tab launches the daemon if the pidfile is missing, and it also does so if no process is running with an existing pidfile.  It looks like the command-line client thinks the daemon is running, but it is

[2020-11-29 03:59] austinjones commented on #246
Hi @zsugabubus,
Good question!  I used both tmux and screen for quite a while.

I wrote tab because I'm a software engineer, and I use the terminal as a rapid launchpad for many other tools (vim/atom/vscode/github/gh/others), and what I needed was a tool that helped me very rapidly context switch between repositories, and get access to information as fast as possible.

What I wanted from my termin

[2020-11-29 04:17] sabitm commented on #244
No problem @austinjones !
Thanks for clarifying this. It makes sense to me now. That's definitely the problem I have. Some applications (like chrome) spawn many processes and some of them might conflict with tab client.

[2020-11-29 14:02] FuGangqiang opened #247 "can tab-rs run commands automatically"
tab.yml config is awesome，but can tab.yml config the init commands of each tab:

[code]

[2020-11-29 18:01] austinjones commented on #247
Hi @FuGangqiang.
This is something I've thought about.  It's not currently supported, but this would be a nice enhancement.  Thanks for the report!

[2020-11-29 18:29] austinjones opened #249 "Logging is not configured for daemon panics"
The daemon itself is quite robust to panics, and panics only affect the lifeline task which panicked (plus, tokio retries the async task).  However, the log crate is not hooked up, and the panic is printed to stdout.  Same issue with the pty log.

Set up a panic hook which logs to the `log` crate.  Possible crate is: https://lib.rs/crates/log-panics

[2020-11-29 18:32] #238 closed

[2020-11-29 18:49] #244 closed

[2020-11-29 18:49] austinjones commented on #244
I was able to reproduce and fix the issue.  The release is going out this evening.

[2020-11-29 18:58] sabitm commented on #244
Thanks very much 🎉

[2020-11-30 00:24] austinjones commented on #231
I just pushed v0.5.2 with an ARM build.  Closing this.

[2020-11-30 00:24] #231 closed

[2020-11-30 00:30] austinjones commented on #238
@casonadams v0.5.2 is out with this fix, and your enhancement of `tab --list`!

[2020-12-01 16:08] krgn commented on #232
Yes, this is a really good idea! It would be nice to set my "terminal" command to something like `termite -e tab` to either connect to an exisiting session, or, alternatively, start a new sub-tab for a project. I was looking around in the code, but where would be a good point to start reading? I was thinking, it could be an alternative action to `SelectInteractive` called `SelectOrCreateInteractiv

[2020-12-01 17:01] austinjones commented on #232
Hi @krgn,
I think this could be the default behavior for the fuzzy finder.  The current behavior on 'no match' is that it simply quits, which isn't so helpful.

The fuzzy finder UI code is here: https://github.com/austinjones/tab-rs/blob/main/tab-command/src/service/terminal/fuzzy.rs

As for implementation, I think it could be as simple as constructing a new tab entry with the query as the tab nam

[2020-12-02 20:47] austinjones opened #253 "Add development/debugging documentation"
Add development documentation that explains:
- The general project structure (tab, tab-daemon, tab-command, etc)
- How to configure your machine to develop locally (scripts/run.sh)
- How to use the cargo patches

Add debugging documentation that explains:
- How to launch tab in debug mode
- How to enable debug-level logging
- How to find the daemon and pty log files

[2020-12-02 20:49] austinjones opened #254 "Add project direction documentation"
Add documentation that explains the project roadmap and planned future development

[2020-12-02 20:49] austinjones opened #255 "Add bug & feature request issue templates"

[2020-12-03 17:28] austinjones opened #256 "History search"
Add a new fuzzy finder mode that searches command history.

Tab would need to build an index of command history.

[2020-12-04 15:50] nebbishhacker commented on #256
Would this search the history of all tabs? Normally I just use the reverse-i-search, but it doesn't really help when I can't remember what tab I was last doing something in.

[2020-12-04 17:28] austinjones commented on #256
Yeah - that's what I was thinking.  If I know I typed 'npm run serve' or 'vi README.md' somewhere, help me find that tab.

The challenge is collecting the command history.  It probably needs to be parsed from stdin.  I also thought about using history files, but it would be nice to not rely on shell-specific behavior.

[2020-12-06 13:19] userxfce commented on #87
There is also this cross tool:
https://www.marcoieni.com/2020/12/rust-makes-cross-compilation-childs-play/

[2020-12-07 04:14] austinjones commented on #87
actions-rs support for cross - that is so cool!

[2020-12-11 20:25] austinjones opened #257 "Add a hint to the fuzzy finder when no tabs are detected"
When you run tab for the first time, you will likely have no running tabs, and no configured workspace tabs.

Present a hint on how to get started with the first session.

[2020-12-11 20:25] austinjones commented on #257
This is related to #232.

[2020-12-15 10:32] TheTeXnician opened #259 "Check for existence in shell scripts"
As a Linux user on multiple machines, I have my dotfiles under version control. This especially includes the `.bashrc`, `.zshrc` and fish configuration. When using these dotfiles with the modifications tab made automatically on other machines without tab (sad but true, those still exist…), it would be useful if they were safe-guarded against inclusion to not cause errors if they do not even exist.

[2020-12-15 15:36] jrop opened #260 "Support CTRL+N/CTRL+P keybindings in fuzzy finder"
Common keybindings for "next" (CTRL+N) and "previous" (CTRL+P) are helpful alternatives to using the arrow keys.

BTW, I'm loving tab so far!

[2020-12-15 15:54] jrop opened #261 "Splits/Panes"
`tab` elegantly handles Tmux's most useful feature: multiple windows.  However, I frequently make use of splits/panes in Tmux as well.  Are there any plans for `tab` to support splits/panes?

[2020-12-15 16:04] jrop opened #262 "Running the fuzzy finder (`tab`) within a session clears the screen and hides command history"
I have my shell set up with the following configuration:

* fish
* starship prompt

Relatively predictably (I'd say around 50% of the time), when I switch "tabs", the prompt does not display until I press "enter".  Also, the terminal state is not fully restored reliably.  That is, if I have typed a previous command, and I switch away from the tab, and then back, the output of the command I previou

[2020-12-16 19:37] austinjones commented on #259
Yeah!  That would be a great improvement.

[2020-12-16 19:38] austinjones commented on #260
Sure!  This would be simple to add and would be a nice improvement.

[2020-12-16 19:58] austinjones commented on #262
Hi @jrop,
Thanks for the bug report!  I use fish and starship as well.  I'll see if I can reproduce it the shell issue.

The second issue you describe seems strange.  Are you invoking tab with multiple users?  For security reasons, the daemon runs under the context of your local user account when you invoke tab.  If you launch `tab foo`, disconnect, and then run `sudo tab foo`, two daemons/session

[2020-12-16 20:12] austinjones commented on #261
It's not possible with tab's architecture.  It's an intentional design choice.  One of the reasons is that tab supports native scrollback and search in your terminal emulator.  This makes dealing with local servers/log output much easier.  But it means that I can't support split panes - as tab would have to replace all that functionality with selection, scrolling, search, etc.

Tab tries to make u

[2020-12-16 20:12] #261 closed

[2020-12-18 00:54] #184 closed

[2020-12-18 03:29] austinjones opened #264 "Performance optimization of keyboard latency"
The performance target for tab is 5ms from keystroke to update.  #263 introduces some tools for measuring latency in the regression tests, and it looks like average latency is 1-2ms.

However, I've seen some comments that performance may still need to be improved.  Take a look at improving baseline latency, and at improving latency under heavy load.

[2020-12-18 04:00] DhruvDh opened #265 "In fuzzy finder, when no query for tab name is entered sort list by most recently used tabs"
With the current tab being second on the list, and the most recently used tab (last used) being first .

What this would allow for is to press `Ctrl + T` and `Enter` in quick succession to always switch to the last tab. As shown in this video, if it was implementing switching back and forth between two tabs would be a breeze. (Video shows current behaviour, but does demonstrate how quick switching

[2020-12-18 04:04] DhruvDh commented on #265
Alternatively, switch to most recently used tab when `Ctrl + T` is pressed in the Fuzzy finder view. This would allow double tapping `Ctrl + T` to quick switch to last tab.

[2020-12-18 09:22] lilydjwg commented on #221
You could try to find a writable path in `$FPATH`. Another way is to let the user put the script wherever they want.

[2020-12-18 16:20] austinjones commented on #265
Damn, this would be cool.  I'm adding it to the next feature release!

[2020-12-18 19:30] austinjones commented on #221
@lilydjwg Hmm, that might work!  I've been trying to keep the files that tab touches to static list, so that it can clean up after itself with future versions of tab, or environmental changes (like installing oh-my-zsh).  I think I might need to sacrifice on that for the usability improvement in this case.

I even tried adding an entry to FPATH in the installer, but it didn't work because the chan

[2020-12-19 03:49] TheWithz opened #267 "starship prompt reverts to PS1 on entering a tab"
As seen in the screen shots, I'm using tab and starship together. terminal is alacritty.
when I'm outside any tabs, starship prompt behaves as normal. However when I enter a tab, my PS1 shows up instead of the starship prompt, and it's duplicated.
`bash: 5.1.0(1)`
`alacritty: 0.6.0`
`tab: 0.5.2`
`starship: 0.47.0`
`Operating system: Gentoo 5.10.0`
# the issue
![2020-12-18-223853_1890x555_scrot](ht

[2020-12-19 11:20] RemiIia opened #268 "Rendering issue with kakoune"
Inside Tab Kakoune works strangely.
**Versions**:
* Tab 0.5.2
* Alacritty 0.6.0
* NixOS 21.03 (Okapi)
* Kakoune 2020.09.01

![Peek 2020-12-19 14-16](https://user-images.githubusercontent.com/33205215/102688071-53046a00-4205-11eb-8202-031cea304bda.gif)

[2020-12-19 17:48] austinjones commented on #268
Interesting.  I use Fish/Alacritty/Starship as well, and I have the same Kakoune version as you.  I'm not seeing the same behavior.  I'll try a VM and see if I can reproduce it.

Thanks for the bug report!

[2020-12-19 18:00] austinjones commented on #267
Hi @TheWithz,
Ah, I think that I'm not setting `--login` when launching bash, so your config in `~/.bash_profile` / `~/.bash_login` / `~/.profile` isn't being picked up.  It's a simple fix - I'll include this in 0.5.3 (I'm hoping to push it this weekend).

In the meantime you could move the starship config to `~/.bashrc`, which I think will fix it.

[2020-12-19 20:54] austinjones commented on #268
Hmm, I still can't reproduce it.  Could you send me your kakrc?

It's definitely related to terminal size.  There are frames where kakoune is rendering the status bar halfway up the screen.  It almost looks like your terminal is being resized - but it clearly isn't :)

[2020-12-20 11:12] RemiIia commented on #268
Link to my entire config - http://www.filedropper.com/kakoune-config

[2020-12-20 11:14] RemiIia commented on #268
With key `-n` kakoune render works fine.

[2020-12-20 11:16] RemiIia commented on #268
Problem with relative numbers highlighter.
[code]

[2020-12-20 20:31] austinjones commented on #268
Thanks so much!  I reproduced it.  Working on a fix.

[2020-12-20 20:39] austinjones commented on #268
Thanks so much!  I reproduced it.

[2020-12-20 20:54] austinjones commented on #268
Yeah, it looks like it's caused by `-relative`.  Should be able to fix it now.  Thanks so much! 👍🏻

[2020-12-20 22:35] casonadams commented on #260
@austinjones I would like to take a stab at this one.  Any guidance you can share would be awesome!

[2020-12-20 22:45] casonadams commented on #242
@austinjones I'd love to pick this one up too.  I am not sure I fully understand the requirements.

[2020-12-20 22:56] casonadams opened #270 "Options to clear shell, and clear history"
[code]

Because sometimes you want to clear the shell and or the history.

[2020-12-20 22:59] EasyS7 opened #271 "Enable setting the config file with an environment variable"
Some people will want to have full control of config location. I think it would be a valuable feature.

[2020-12-20 23:12] austinjones commented on #270
I think this is a bug related to the $TERM env var.  I'll take a look!

[2020-12-21 00:22] austinjones commented on #242
Hey @casonadams,
Sure!  This one will be pretty cool I think.

So, the idea is that you'd often have some kind of configuration for `mytab/` - with some working dir/config.  Sometimes you need a quick throw-away tab for some task (e.g. `mytab/git`).  Right now, tab will initialize the new selection with your current working directory.

Tab already checks whether there is an exact match here: https

[2020-12-21 00:25] #260 closed

[2020-12-21 00:27] #271 closed

[2020-12-21 00:30] #268 closed

[2020-12-21 00:38] austinjones commented on #45
This is actually a bit harder than I thought, because it would require some maintenance in the daemon.

[2020-12-21 00:41] austinjones commented on #264
It turned out that latency was actually improved when using interactive apps by forcing a tiny delay between stdin/stdout packets.  This allows the daemon to throughput more, and become idle faster.

[2020-12-21 00:41] #264 closed

[2020-12-21 00:44] #267 closed

[2020-12-21 00:56] #249 closed

[2020-12-21 01:45] austinjones commented on #67
This would require windows support - which I had to drop.  Closing.

[2020-12-21 01:45] #67 closed

[2020-12-21 01:48] austinjones commented on #77
I think this could work if `tab` filtered the scrollback buffer.  It would need to remove content that was over N lines above the end of the terminal, and remove content that has been fully repainted by ANSI moveto and print.

[2020-12-21 03:35] austinjones opened #278 "Run `cargo update`"
Cargo update is part of the release process, but it broke the regression tests (the stdout read_to_end timed out after 10 seconds).

Run `cargo update` and fix the issue with the tests.

[2020-12-21 05:16] austinjones commented on #268
@RemiIia I just pushed a fix in [v0.5.3](https://github.com/austinjones/tab-rs/releases/tag/v0.5.3).

[2020-12-21 05:17] austinjones commented on #267
@TheWithz I just pushed a fix in [v0.5.3](https://github.com/austinjones/tab-rs/releases/tag/v0.5.3).

[2020-12-21 06:26] TheWithz commented on #267
@austinjones It works great. Thanks for your hard work!

[2020-12-22 03:57] austinjones commented on #270
Hey @casonadams.  I've merged some code to `main` that should fix this (#280).  I couldn't reproduce it though - is any chance you could run `scripts/run.sh test270` and see if you can clear your terminal?  (no need to shut down the daemon - and any unique tab name would work)

[2020-12-22 15:25] jrop commented on #262
@austinjones I don't see anything abnormal in the logs:

[2020-12-22 16:55] bbigras commented on #246
When I work on a web project. I usually use tmux with 2 panels. 1 for the backend and 1 for the frontend. I start a command in each one and let them run while I work. I alternate between the 2 of them pretty frequently to restart them or check the log for errors.

With tab-rs, I would alternate between them by running the `tab` or ctrl+t command? And when https://github.com/austinjones/tab-rs/issu

[2020-12-22 22:55] austinjones commented on #246
Hey @bbigras, thanks for the comment!

I wrote the `tab <name>` command first and just added the fuzzy finder in [v0.5.0](https://implaustin.hashnode.dev/whats-new-in-tab-v050).  Yeah, I'd recommend using ctrl-T and the fuzzy finder for quick switches.  I want to make it easier, by adding a quick-switch to the previous tab, sorting by most-recently-used (#265) and by adding support for command his

[2020-12-22 23:29] austinjones commented on #262
Thanks for uploading the log!  This rules out all the PTY connection and session init code.  That looks like a typical retasked session (when you type `tab <name>` within a session).

I think somehow scrollback is not being delivered to your client when it initializes.  And when you press enter, it triggers new stdout data.  This is starting to make sense...

[2020-12-23 00:01] austinjones opened #283 "Reduce all messages that print packet contents to TRACE level"
Debug level logging has a significant performance impact because several statements print actual packet data.  Reduce all those to trace.

[2020-12-23 05:10] austinjones commented on #262
I think I have a fix for this!  It looks like the cause was an integer underflow in the scrollback buffer code, which caused the buffer to believe that it was massive.  The buffer would be emptied, and keep being emptied as data arrived.

[2020-12-23 05:30] jrop commented on #262
@austinjones awesome!  I can't wait to try the fix out!  (probably tomorrow)

[2020-12-23 17:25] austinjones commented on #283
Hmm, or for stdout packets, it could just print the packet index.  Maybe one location (in the daemon's pty service) could print the contents with trace level.

[2020-12-23 18:29] austinjones opened #285 "Make a screencast (10 second demo)"

[2020-12-24 02:52] austinjones commented on #262
Ah!  The cause here is typing `tab` with no arguments inside a session.  I reconstructed the raw stdout from your debug logs, `cat`'d it, and started seeing fuzzy finder output (was very suprising) :D

Nothing is being lost.  The fuzzy finder output is being saved to the session, and replayed when you reconnect.  Thus, no history.

Quick workaround is to use `ctrl-T` instead of `tab` with no args

[2020-12-24 02:55] austinjones commented on #262
I can see why this was so confusing.  It looks identical to the ctrl-T fuzzy finder!  What a bug...

[2020-12-24 03:32] austinjones opened #286 "Daemon federation"
Tab uses TCP and WebSockets.  It was written this way simply because there were some obstacles to implementing UNIX sockets in async rust.  I did put together an experiment with UNIX sockets, and there was pretty much no performance impact.

With TCP, tab could support 'Daemon Federation'.  This would allow remote tab sessions running behind SSH, accessed via your local tab client.  Daemons could

[2020-12-24 04:32] AkechiShiro commented on #74
Thank you for the amazing project, I'd like to take this as my first issue (and contribution), is it okay with you ? @austinjones

[2020-12-24 04:37] austinjones commented on #74
Absolutely.  Go for it @AkechiShiro!

[2020-12-24 04:58] austinjones commented on #74
@AkechiShiro Here are a few things that might help:
- I'm not sure what the flag short name should be.  I use `tab -W` for shutdown - so maybe this will only have a long name.
- There is a function called `normalize_name` that can convert user input into a canonical tab name (with the trailing slash).  A tab should be closed by this command if it equals, or starts with the canonical name.  (e.g. `

[2020-12-24 05:18] jrop commented on #262
@austinjones Ah!  Very interesting  I should have probably just posted an asciinema, and all would have been clear right away.  Thank you for your help in tracking this down!

[2020-12-24 06:21] AkechiShiro commented on #74
Thank you for the starter help @austinjones, definitely helps !  I've got some questions :

1 — About the short name,  I was thinking that it would be neat to have something like `rw`, but it wouldn't be doable at the moment, I have seen that the `Clap` crate handles the arguments, thus I had a look [at their documentation and only a single UTF-8 code point is allowed as a parameter of `.short()`]

[2020-12-24 16:30] austinjones commented on #74
@AkechiShiro I took another look, and it seems like the MainCloseTabsService provides a lot of what you need.  It'd probably be best to enhance it to support this additional method of closing tabs.  I think this could be implemented by adding a case to the existing MainCloseTabsService (e.g. `if let MainRecv::CloseTabsRecursive(...)`).  You could split MainCloseTabsService::close_tabs into a piece

[2020-12-25 17:40] foisonocean opened #288 "mouse clicking or scrolling will cause unexpected inputs"
Today I installed tab-rs, and everything worked properly at the beginning. But after tab-rs runs serveral minutes, mouse clicking or scrolling would cause unexpected inputs.

https://user-images.githubusercontent.com/15059605/103139821-414a2780-471b-11eb-816a-f7d3ce488e27.mp4

[2020-12-25 18:00] foisonocean commented on #288
I found this issue is probably caused by running tab-rs and [bottom](https://github.com/ClementTsang/bottom) together.

Steps to reproduce:

1. open "foo" tab.
1. open "bar" tab.
1. run `btm`.
1. press `e` to expand a bottom window.
1. press Ctrl-T to switch back to "foo" tab.
1. now mouse clicking begin to cause unexpected inputs

https://user-images.githubusercontent.com/15059605/103140128-d8b07

[2020-12-25 19:46] casonadams commented on #270
@austinjones seems to still be happening
[code]

[2020-12-25 23:21] austinjones commented on #288
Looks like some kind of cursor mode needs to be reset when switching tabs.  I'll take a look at this.

[2020-12-27 18:22] kbd opened #289 "Tab corrupts terminal display"
Just started using tab. Pretty much everything I do with tab seems to corrupt my terminal.

Here's a quick asciinema of just going into a named tab and then hitting ctrl+d:
https://asciinema.org/a/bxEMrmMMmOaJB6m90sUWFWUB1

You can't see it in the screencast, but just bringing up the fuzzy-finder with `tab` and then escaping it messes up my terminal somehow.

Here's a before and after of *just* ru

[2020-12-27 22:24] #232 closed

[2020-12-27 22:24] #257 closed

[2020-12-27 23:07] austinjones commented on #289
Hi @kbd,
Yeah, ctrl-d is likely to really mess with the terminal state.  The way tab works is when you connect to a session, it fully restores the terminal state for that session.  And when you disconnect/switch, it resets the terminal state.  Ctrl-d would put the tab client process in the background, and prevent it from printing the reset sequences.  ctrl-T ESC should work correctly, though.

I'm

[2020-12-27 23:13] austinjones commented on #288
I reproduced this, and I have a fix!  Thanks for writing the steps to reproduce :)

It was a mouse select mode enabled by `btm` that needed to be reset when switching away.

[2020-12-27 23:31] austinjones commented on #270
Hey @casonadams ,
I think the issue here is the `tmux-256color` value - which seems to have problems on OSX w/ terminfo.  See this tmux bug report: https://github.com/tmux/tmux/issues/1257

If you can figure out where it's coming from, xterm-256color should work.  I think all I can do in tab is pass the $TERM var along.

[2020-12-28 00:02] austinjones commented on #289
Hey @kbd,
Thanks for the bug report!  I was able to reproduce both issues.  I'm looking for a fix.

[2021-01-01 20:28] austinjones opened #294 "Add 'fuzzy finder' retask support"
When `tab` is invoked with no arguments, and a tab session is currently active, send a retask request through the daemon that triggers the fuzzy finder in the connected client.

[2021-01-02 03:00] Stanislav-Lapata opened #297 "use Command key instead Control"
Thanks for your wonderful project.

Could you change Control key to Command by default for Mac OS?

[2021-01-02 04:15] austinjones commented on #297
Hi @Stanislav-Lapata,
I'm glad you are finding it useful!

I don't think I can implement this in tab - as terminal apps don't receive any input when cmd-chars are pressed.  You might be able to configure this in your terminal emulator though by binding cmd-T to send the ctrl-T character (hex is 0x14, name is DC4).

I just tried it in iTerm and it worked.  Here is a screenshot:

<img width="443" al

[2021-01-02 04:15] #297 closed

[2021-01-03 00:59] austinjones commented on #289
I just released [v0.5.4](https://github.com/austinjones/tab-rs/releases/tag/v0.5.4) with a fix!  There were a few terminal state issues here - tab is supposed to reset the terminal state when you switch between sessions, but there were some edge cases that weren't handled properly.

[2021-01-03 01:00] #289 closed

[2021-01-03 01:02] austinjones commented on #288
@foisonocean I just release [v0.5.4](https://github.com/austinjones/tab-rs/releases/tag/v0.5.4) with a fix!

[2021-01-03 01:03] #288 closed

[2021-01-03 01:04] austinjones commented on #262
Hey @jrop,
@foisonocean I just released [v0.5.4](https://github.com/austinjones/tab-rs/releases/tag/v0.5.4) with a quick workaround (now it'll print a message suggesting ctrl-T).  In v0.6.0 I'm going to add full retask support, so the outer command-client will be switched into fuzzy-finder mode.  Tracking that one in #294

[2021-01-03 01:04] #262 closed

[2021-01-03 01:19] austinjones commented on #270
Hey @casonadams.  I just released [v0.5.4] with the $TERM fix.  Did you find anything else while looking at this that might be useful?  One thing I was wondering is if $TERMINFO was different inside/outside the session.

[2021-01-03 02:30] kbd commented on #289
Wow, looks like it works flawlessly now! Even with bugs I was still using it sometimes (but I'd have to close the terminal window after I was done with the thing). Now I can use it without fear. This is great, thanks so much for this tool.

[2021-01-03 21:34] #278 closed

[2021-01-03 22:29] kbd opened #302 "Inline version of fuzzy-finder?"
With `fzf` I use the `--height` option to make it not go "fullscreen". With tab, if I type `tab` or ctrl-t, then decide not to go into one of the sessions and hit escape, it annoyingly still `clear`s my current session.

----

Also, fwiw, I tried to see what would happen if I piped the name of a tab into `tab` so I could actually use it with `fzf` easily:

[code]

[2021-01-04 00:39] austinjones commented on #302
I think there a few things I could do here:
- I think I could make `tab; ESC` preserve your command history.  It wouldn't work if you had disconnected from a session though - as tab resets the terminal state when disconnecting (removing the stdout from your root shell from the buffer).
- It definitely makes sense to have `echo foo | tab` do something.  Maybe open the fuzzy finder with the input as

[2021-01-04 03:28] kbd opened #303 "-w not closing tabs"
See screenshot:

![Screen Shot 2021-01-03 at 8 26 40 PM](https://user-images.githubusercontent.com/728060/103498461-1a1de500-4e02-11eb-91b4-ec65f13530b2.png)

[2021-01-04 04:01] kbd commented on #302
Just so I'm clear, here's a quick screencast of what I'm talking about with the first point. This is just opening tab up and hitting escape:

![t-rec](https://user-images.githubusercontent.com/728060/103499825-afbb7380-4e06-11eb-9d37-33062426ad57.gif)

[2021-01-04 10:24] kbd opened #304 "Suggestion: "tab -" to switch to prior session"
Just like `cd -` switches to your prior directory and `git switch -` switches to your prior branch, I think it'd make sense if tab let you `tab -` to go to your prior session.

[code]

Dash isn't used currently ^

[2021-01-04 16:04] austinjones commented on #302
Yeah, that's expected behavior at the moment.  I think I can make it better w/ the alternate buffer though.

[2021-01-04 17:22] austinjones commented on #304
Really cool idea!  I like it.

[2021-01-05 19:07] austinjones commented on #303
Hi @kbd,
I think I have a fix for this.  I'll try to push a release soon.

[2021-01-06 00:55] #303 closed

[2021-01-06 03:14] austinjones commented on #303
This is fixed in [v0.5.5](https://github.com/austinjones/tab-rs/releases/tag/v0.5.5).  The client was asking the daemon to disconnect the session, instead of close it (doh!).

[2021-01-06 04:33] solarizedalias opened #309 "Global config (~/.config/tab.yml) is not properly handled when cwd is ~/.config or its subdirectory"
## problem
It looks like the global config (~/.config/tab.yml) is also recognized as a local config to ~/.config when cwd is ~/.config or any of its subdirectory.
And if you have a tab configured with a relative path from home directory (which works fine as a global config), that causes errors as the path doesn't make sense as a local config to ~/.config.

Also it says I have duplicate definitions

[2021-01-06 18:46] austinjones commented on #309
Hi @solarizedalias,
Thanks for using tab!  That is really cool to hear :D

Indeed, it looks like the config is being scanned twice.  There is some 'working directory' magic that is applied to the global config, and that's why the relative paths are being rendered incorrectly.

I'll fix this by ignoring the global config if it appears in the scan.

[2021-01-07 03:58] bbigras commented on #2
While in the fuzzy thing (ctrl-t), would it be a good idea to be able to close tab by highlighting it and hitting ctrl+k?

[2021-01-07 14:02] FuGangqiang opened #310 "install completion error"
[code]
I do not use oh-my-zsh, so this command report error

the install command should be like `rustup`:

[code]

[2021-01-07 18:28] austinjones commented on #310
Hi @FuGangqiang,
You can install it that way with `tab --completion zsh > ~/.zsh/completion/_tab`.  The install command is meant to be a helper to quickly get tab working with all your installed shells.

There are some issues with the zsh installer though - it's quite hard to find a way to install completions in a cross-platform way.  I'll take a look at this though and see if I can make it work f

[2021-01-08 01:44] FuGangqiang commented on #310
thanks for you advice command `tab --completion zsh`, this is what I want that do not be found in the readme file

[2021-01-08 01:51] #310 closed

[2021-01-08 14:16] bbigras commented on #265
It could also be nice to sort by the most frequently selected ones and have the last used one first for fast alternation between 2 tabs.

[2021-01-08 16:45] austinjones commented on #265
@bbigras Yeah, I think so too!  I implemented most of what is needed in #298 but I need to swap the two most recently selected tabs so `ctrl-T enter` acts like alt-tab.

[2021-01-11 20:05] kbd opened #312 "Re-home session under tab?"
A lot of times I'll start a new terminal session with `⌘n` to open a new iterm window, and only later realize I should have started my session under `tab` so I'm able to detatch from it.

There are programs like [`reptyr`](https://github.com/nelhage/reptyr) that try to solve this in the general case. It sounds like a really hairy problem (eg. `reptyr` doesn't support macOS atm), so it's probably o

[2021-01-13 10:31] liketechnik opened #313 "tab terminates the daemon when reconnecting to active sessions"
Hi,

first of all, `tab` is a really great piece of software, I favored using it instead of `tmux` from the first moment I found (and used) it :+1:

Nevertheless, I have a really nasty problem with `tab`: Not always, but in many cases `tab` forcefully terminates the already running daemon, with sometimes still running applications in it, before connecting me to a session or presenting the fuzzy fi

[2021-01-13 23:51] austinjones commented on #313
Hi @liketechnik,
Glad to hear you like it!  I'll take a look at this - it needs to get fixed!

More information would be helpful.  Here are a few things I can think of:

- The daemon connection (and the decision to start a new daemon) happens when the `tab` command-line client starts.  If you can reproduce this regularly, debug logs from the client would be really helpful.  The list command doesn'

[2021-01-14 00:41] liketechnik commented on #313
I now found a way to reliably force the behaviour to occur:

1. Stop any running `tab` instance with `tab -W`. There seem to be circumstances under which tab will always reuse the existing daemon.
2. Start a new instance in my terminal (see below for details)
3. Immediately disconnect from it, by either:
    * press `Escape` in the fuzzy finder
    * select any tab and disconnect with the keybind

[2021-01-14 06:36] austinjones commented on #313
Ah!  There is definitely something going on with the alacrity keybinding.  I haven't set it up that way and I'm seeing weird behavior (the window quits when I try to select a session).  What seems to happen there is that Alacritty sets the $SHELL env var with the contents of the `-e` flag.  Tab honors this env var when launching the PTY backend, and unhelpfully launches your session with *tab as t

[2021-01-14 06:37] austinjones commented on #313
Also, thanks so much for all the info!  It's super helpful 👍🏻

[2021-01-14 12:44] shytikov commented on #238
I'm still seeing that `v0.5.5` on Mac...

[2021-01-14 12:52] shytikov opened #314 "`Esc` after `Ctrl+T` exits tabs completely"
I see kind of none-intuitive (for me) behaviour: when I press `Ctrl+T` and then press `Esc` I'm ending up outside tabs. While I expect to stay in the tab from which I have initially pressed `Ctrl+T`.

Option to exit from `tab` context is very cool, as I would love to have an option more seamlessly detach from tab, but the way it is done via escape for me looks kind of too sleek. For `vim` person w

[2021-01-14 16:15] austinjones commented on #314
Yeah, I've run into this as well.  I think it'd be a good change, but I'd need to figure out another sequence to replace `ctrl-T ESC` when you need to kill the command-line client.  Any ideas?

[2021-01-14 22:21] shytikov commented on #314
I believe fuzzy finder is the good place to have that command. But maybe it could be separate bullet along with other tabs. Last line, for example. I don't think adding another shortcut like `ctrl-T ctrl-Q` will be inline with the main idea of single powerful shortcut. But maybe some special symbol could indicate "virtual" tab, which actually means "exit". I assume `//` could be invalid tab name w

[2021-01-15 20:12] austinjones commented on #314
Ah I think ctrl-C would work for exit.  Then ESC could quit if you haven't selected any tabs, and reconnect if you just came from a session.

[2021-01-15 20:16] austinjones commented on #312
Hmm.  This sounds very hard :D

Particularly so because I need the I/O to be Tokio-compatible (for async).  Launching the PTY process and driving the reactor takes some care.

Also, I don't think it would work with scrollback.  That could cause ANSI issues - as many terminal state escape sequences needs to be repeated when reconnecting.

I don't see any way to implement this without a lot of bugs.

[2021-01-15 20:16] #312 closed

[2021-01-15 21:41] savq opened #315 "Simplify/unify the config format of workspaces and repositories"
Hi,

I've been using `tab` for a good while now, and I find it really useful. Recently however, I realised I haven't really been using the workspaces feature at all, and reading the related docs left me with some doubts (maybe it's just a matter of nomenclature), so I thought I'd ask before suggesting any changes.

When defining a workspace, it'll be available to the subdirectories of the director

[2021-01-16 05:27] austinjones commented on #315
Hey @savq,

Workspaces help when you have a ton of tab configurations, and you want to keep tabs visible within the workspace directory.  Maybe the best way to explain this is an example of how I use it.  Here is my `~/open-source/tab.yml` workspace config:
[code]

And in ~/.config/tab.yml, I have:
[code]

`tab -l` from my home directory is nice and clean:
[code]

Due to the link in `~/.config/tab

[2021-01-16 05:29] austinjones commented on #315
Also, thanks so much for using tab!  If you have any thoughts on how to make the config easier to use, I'd be really interested :)

[2021-01-16 10:06] jeizsm commented on #315
I recently found tab-rs and had this exact question.
I think the difference between repos and workspaces rather unclear. Why don't have only repos that can include other repos like that?
[code]

[2021-01-16 18:29] austinjones commented on #315
Interesting.  I'll rethink this and see if there is a way to unify the config formats.

[2021-01-16 20:21] savq commented on #315
Hey @austinjones,

Your example does clear some things up, but @jeizsm comment makes me think this is a common source of confusion.

My first intution/draft proposal for a different config system would be:

- 1 `tab.yml` corresponds to 1 workspace
- workspace == repo == bundle of tabs + docstring + env. variables
  - (remove the distinction between workspaces and repos)
- tab = session + docstring

[2021-01-17 11:16] shytikov commented on #314
You mean `ESC` will bring you back to your previous tab, if you haven't selected anything?

[2021-01-18 01:18] austinjones commented on #315
Hey @savq,
I like it.  I'm going to think about it a bit more.  And if anyone has thoughts, please chime in :)

[2021-01-18 17:37] jcvar commented on #314
I agree that using `ctrl-t <Esc>` to exit to the root shell can be a bit counter intuitive but it is a necessary option regardless.

I had suggested adding a default option (`ctrl-t <Enter>`) in #224, which can be used to return to the previous tab.

[2021-01-19 00:47] austinjones commented on #313
Hey @liketechnik,
I'm getting ready to push a bugfix release this week.  I'm looking at this and hopefully will be able to include a fix.

[2021-01-20 13:34] christianpoveda opened #318 "Persist the current tab selection in the menu"
Hi

I was wondering if it makes sense to persist the selection of the current tab in the menu. What I mean is that if you have three tabs:
[code]
And you are in `tab2` then when you open the menu using `Ctrl+T` then you should see
[code]
then if you switch to `tab1` you should see
[code]
In that way the selected tab is always first and when changing tab you instinctively know you have to go down t

[2021-01-21 00:20] austinjones commented on #318
Hi @christianpoveda,
I'm planning two related changes which are scoped for v0.6.0.  I think this should be the default behavior - I run into it all the time and several people have suggested it.  The related issues are:

1. The list of tabs in the fuzzy finder will be sorted by 'most recently selected' if you haven't entered a query.  That way anything you've used recently will be at the top.  I'm

[2021-01-21 03:09] austinjones commented on #313
I was able to reproduce it!
[code]

The client is being reaped when it exits, which kills the daemon (as it technically is a zombie process).  This happens because Alacritty calls [Child::try_wait](https://doc.rust-lang.org/std/process/struct.Child.html#method.try_wait) when the tab process exits (see [source](https://github.com/alacritty/alacritty/blob/master/alacritty_terminal/src/tty/unix.rs#L3

[2021-01-21 12:26] christianpoveda commented on #318
Oh that's great! I'm closing this as it will be redundant when those PR are merged :) Thank you!

[2021-01-21 12:26] #318 closed

[2021-01-21 15:02] #313 closed

[2021-01-21 23:45] #309 closed

[2021-01-22 01:51] austinjones commented on #313
Hey @liketechnik,
I just published a fix in [v0.5.6](https://github.com/austinjones/tab-rs/releases/tag/v0.5.6).  The daemon should now keep running, even if launched with `alacritty -e tab` or `alacritty -e bash -c tab`.

[2021-01-22 01:52] austinjones commented on #309
I just published a fix in [v0.5.6](https://github.com/austinjones/tab-rs/releases/tag/v0.5.6).

[2021-01-22 07:37] LovecraftianHorror opened #323 "clippy CI isn't reporting correctly"
I noticed that the `clippy` step for CI isn't reporting warnings and errors from the repo. I'm planning on going through and fixing them up soon, but I wanted to track down why CI isn't reporting anything first. From my personal experience my best guess is that it's hitting rust-lang/rust-clippy#4612. If this is the case then I think that adding

[code]

just before the `clippy` step should do the

[2021-01-22 23:23] austinjones opened #324 "In the fuzzy finder, make 'new tab' optional"
Allow user configuration of whether the `(new tab)` option in the fuzzy finder is visible.  Config example:
[code]

[2021-01-22 23:47] #265 closed

[2021-01-23 02:38] austinjones opened #325 "Async I/O for workspace configs"

[2021-01-23 10:37] liketechnik commented on #313
That's great news! Thank you for the fast fix.

[2021-01-24 04:36] #324 closed

[2021-01-24 04:38] austinjones commented on #314
I have this implemented - and I immediately love it :D

`ctrl-T ctrl-C` can now be used to quit the fuzzy finder.  And if you just launched tab (no previously selected tab for that client), ESC quits.

[2021-01-24 05:04] #314 closed

[2021-01-24 05:04] austinjones commented on #323
Oh cool.  I'll add this workaround to the CI config.

[2021-01-24 05:26] austinjones opened #330 "Call the new shutdown endpoint for tab -W"
Call the new shutdown endpoint for `tab -W`, retiring the enum based method (which was brittle when the Request struct changes over semi-major versions).

[2021-01-24 05:28] #294 closed

[2021-01-24 06:12] austinjones commented on #302
Ah, the `inappropriate ioctl` error is an upstream issue in crossterm: https://github.com/crossterm-rs/crossterm/issues/396

I was able to fix the 'clearing' issue though.  It'll be going out with v0.6.0.

[2021-01-24 06:19] austinjones commented on #270
I'm going to close this.  I can't think of any other changes that might fix it.  Let me know if you have more info, though!

[2021-01-24 06:19] #270 closed

[2021-01-24 06:21] #302 closed

[2021-01-24 06:52] austinjones commented on #304
I've implemented this on a PR - great suggestion!  It's smooth.

When outside a session, it switches to the most recently selected tab:
[code]

When within a session, it switches to the previously selected tab
[code]

[2021-01-24 06:58] austinjones commented on #315
I found a way to make this change in a backwards-compatible way.  I'm thinking of including this in v0.6.0, and deprecating the old format in v0.7.0.

[2021-01-24 07:01] #304 closed

[2021-01-24 10:45] foisonocean opened #333 "shows all the vim scroll history when switching tab"
When switch to a tab which uses vim, it will shows all the vim scroll history in that tab.
This is pretty annoying especially when use vim for a long time.

[2021-01-26 18:00] lnicola opened #334 "Option to not touch HISTFILE"
I'm using `zsh` and I'm quite happy with `setopt sharehistory` (there's a `bash` equivalent too). By setting `HISTFILE`, `tab` prevents me from finding previous commands in history.

[2021-01-26 18:46] austinjones commented on #334
Oh sure.  I'll take a look at this.  For a quick fix, you could comment out this line, and run `cargo install --locked --path tab`:
https://github.com/austinjones/tab-rs/blob/main/tab-pty/src/service/client.rs#L87

[2021-01-26 18:56] lnicola commented on #334
Thanks, no worries. I might submit a PR myself if you don't get to it these days.

[2021-01-26 19:24] austinjones commented on #334
That would be cool!  This would be pretty simple to implement with a setting in the [global config](https://github.com/austinjones/tab-rs/blob/main/tab-command/src/config.rs#L20), and a property in the [CreateTabMetadata](https://github.com/austinjones/tab-rs/blob/main/common/tab-api/src/tab.rs#L98) - which gets passed through the daemon to the pty.

[2021-01-26 21:09] TheWithz commented on #333
This happens to me fairly often.

[2021-01-27 20:12] austinjones commented on #333
Yeah, I agree.  I've been thinking about some algorithms that would trim down the scrollback buffer.  But a few things I have tried in the past weren't fast enough.  What makes it a challenge is that data from the beginning of a session may be necessary to reconstruct it.  Apps set up a lot of terminal state on setup.  To actually trim down the size, it's necessary to remove content from the middl

[2021-01-29 14:09] Stanislav-Lapata opened #335 "crashes with Cyrillic characters"
if I accidentally enter Cyrillic characters, the tab crashes

OS: macOS
tab version: 0.5.3

https://user-images.githubusercontent.com/12072329/106284495-5ce1aa00-6254-11eb-9a0c-4db645d0f1ff.mov

[2021-01-30 01:04] austinjones commented on #335
I'll take a look at this!

[2021-01-31 10:08] kbd opened #337 "Incompatiblity with Kitty terminal"
I'm in the process of switching from iTerm2 to Kitty. Kitty sets `$TERM` to `xterm-kitty`. When I run `tab` within Kitty, I get:

![Screen Shot 2021-01-31 at 2 37 09 AM](https://user-images.githubusercontent.com/728060/106380108-585ce480-636d-11eb-89ca-832e7b5054be.png)

[code]

Seems to work as expected (so far?).

[2021-02-02 04:39] austinjones commented on #337
Interesting.  Tab passes through the $TERM env var.  Is kitty setting the $TERMINFO env var?  I might need to pass that along as well.

[2021-02-05 18:08] kbd commented on #337
Sorry for slow response. Yeah it is:

[code]

[2021-02-14 23:21] #335 closed

[2021-02-14 23:21] #337 closed

[2021-02-15 03:28] austinjones commented on #335
I just pushed a fix in [v0.5.7](https://github.com/austinjones/tab-rs/releases/tag/v0.5.7).  It should work correctly now (and Cyrillic tab names should work too!).

[2021-02-15 03:30] austinjones commented on #337
I just pushed a fix in [v0.5.7](https://github.com/austinjones/tab-rs/releases/tag/v0.5.7).  I saw a similar 'unknown terminal' message in fish and the same $TERM/$TERMINFO vars.  It should work fine now!

[2021-02-18 13:47] izhakjakov opened #342 "Documentations or videos with examples"
**Most important**
1. How to start with `tab`
2. Most basic features
3. How to get help

[2021-02-19 16:31] VoidNoire opened #343 "Closing tabs leaves zombie child processes"
Using `tab` v0.5.7, when I open then close tabs, the child processes created by the daemon don't seem to be terminated cleanly. Here's a screenshot of `top` showing the zombie processes after using `tab` for a while and then closing all the tabs:

<details>
  <summary>(Click to expand)</summary>

![2021-02-19T16:24:02,148999187+00:00](https://user-images.githubusercontent.com/18732253/108532172-79

[2021-02-25 19:00] austinjones commented on #343
Thanks for the report!  I think there is a bug here when `$ exit` is run within a session.

One thing that is a factor here: a few of those processes are pre-launched to minimize latency when a session is opened.  This hides the process initialization and websocket connection overhead from the command-line client.

[2021-02-27 09:53] VoidNoire opened #344 "Feature requests: Options to show the tab's working directory, last command ran, time the command was started, and be able to fuzzy search based on these"
Not sure if these should be four separate issues, but they're somewhat related to each other so I thought it might be appropriate to have them as one. The inspiration for this request is [based on pueue](https://github.com/Nukesor/pueue) which has the first three features, so you can look at that to have a better idea of what I mean.

I think having these in tab could make navigation even easier a

[2021-02-27 11:47] VoidNoire commented on #333
This issue seems to be related to another issue that causes my alacritty terminal to crash when I've been editing files on it with kakoune for a while and I switch back to that tab.

[2021-03-02 20:53] GuillaumeFavelier opened #345 "ERR: TerminalBus/main_recv"
Hello, first of all thank you for this package, I'm new to `tab-rs` and it might be exactly what I need.

Unfortunately, I ran into the following issue while switching tabs with `ctrl+t`:

[code]

then just after finishing the selection, it basically hangs and I have to restart the terminal to recover. Note that the interface for switching is still available with `ctrl+t`, the problem is when I pr

[2021-03-21 11:48] arthur-s opened #346 "pass ssh-agent to tab"
Hello, thanks for this app. In tmux, there's a [possibiblity to pass ssh-agent](https://stackoverflow.com/a/34683596) simply by:
[code]
Can you implement something similar please?

[2021-03-23 16:46] austinjones commented on #345
Sorry for the slow reply - yeah this looks like a bug.  I'll take a look at it.

[2021-03-30 19:47] guy-who-googles opened #347 "Shift+Tab support within fuzzy finder"
First, brilliant project, thanks for sharing!

One minor thing I've noticed. When I press `Ctrl+T` to enter the fuzzy finder, I'm able to press `Tab` to move to the next option, but unable to press `Shift+Tab` to move back to the previous option.

Thoughts?

[2021-04-06 23:25] alexherbo2 opened #348 "Open a new tab from the working directory of the current tab"
New tabs always start from the working directory before starting tab, rather than the tab where you were.

### Example

[code]

[2021-04-09 17:59] austinjones opened #349 "Status update"
Hey Everyone,
I want to give everybody a status update on tab.

I'm still committed to tab's development.  I haven't had enough time over the past few weeks to maintain tab - life and work have taken up all my time.  But I'm planning to step it up, and hopefully ship v0.6.0 this month or early next month.

Thanks to everyone for trying tab, submitting issues, etc.  All your community involvement h

[2021-04-09 18:02] austinjones commented on #348
Ah, interesting.  This would be a nice feature.  The 'current directory' context was something I added for the fuzzy finder, so that switching between workspaces was more intuitive.  It could be hooked into the new tab directory as well.

I'm also planning a new feature #242 in v0.6.0 that would help.  When you want to open `foo/server/` it would notice `foo/` exists, and inherit the initial direc

[2021-04-09 18:04] austinjones commented on #347
Hi @guy-who-googles,
Sorry for the late reply.  Had to take a short break from tab development to catch up on real life :D

Definitely.  This would be a really easy binding to add.

[2021-04-09 18:05] austinjones commented on #346
Hi @arthur-s,
Thanks for the feature report!  I'm not sure I can fit this in v0.6.0, but I think this would be a nice improvement.

[2021-04-09 18:09] austinjones commented on #344
Hi @nothingnesses,
I've thought about this as well.  Particularly w/ WD and Command Histories, those could power some really nice fuzzy finder interfaces.

I haven't been able to find a way to access the working directory within the shell though.  You can spawn a child process with an initial working directory, but it can change that directory without any visibility.  I think it's common to initia

[2021-04-09 19:20] alexherbo2 commented on #348
It looks a nice way to inherit / not inherit a working directory without configuration.  Let’s see how it is in practice.

[2021-04-12 13:05] alexherbo2 commented on #261
[mtm] runs very well in tab.

[mtm]: https://github.com/deadpixi/mtm

[2021-04-12 17:45] guy-who-googles commented on #347
Awesome, thanks!

[2021-04-12 20:18] savq commented on #347
@austinjones, this is just updating the input patterns in `tab-command/src/service/terminal/fuzzy.rs` right?

[2021-04-13 10:25] nothingnesses commented on #344
Maybe [`std::env::current_dir`](https://doc.rust-lang.org/std/env/fn.current_dir.html) can somehow be used to extract that? Or if not, then perhaps the `$PWD` environment variable or `pwd` shell command can somehow be leveraged instead?

I actually think command history would be harder to extract since not all shells record command history (as with `dash` which is what I use primarily and doesn't

[2021-04-13 17:54] #347 closed

[2021-04-13 17:55] austinjones commented on #347
Indeed.  Thanks for the PR @savq!

[2021-04-23 20:22] alexherbo2 commented on #261
Just found about [Zellij] too, which can be run from tab.

[Zellij]: https://zellij.dev

[2021-04-24 00:11] thewithz opened #351 "Issues installing tab on arm64. Failed to select version for zeroize = "^0.9.3""
rustup `stable-aarch64-unknown-linux-gnu unchanged - rustc 1.51.0 (2fd73fabe 2021-03-23)`
cargo `cargo 1.51.0 (43b129a20 2021-03-16)`
OS `Linux homebase 5.11.16-gentoo-x86_64 #1 SMP Wed Apr 21 20:13:15 EDT 2021 aarch64 GNU/Linux`

[code]

[2021-04-24 01:02] thewithz commented on #351
I checked out the 0.5.7 tagged commit `e167812a60bbbf01cc3cb9f10700a34d5dc16565`  and the latest in `main` then manually updated `tab/Cargo.toml dialoguer` to 0.8.0 and both build successfully. It pulled in zeroize v1.3.0

playing around with it, it seems to be working, though some of the tests failed. `[retask, keyboard_latency, reconnect, service::client::client_session_tests::tx_terminated, ser

[2021-04-27 02:10] cinerea0 opened #352 "Use package manifest in Cargo.toml"
In order to make it easier for various Linux distributions to package tab-rs, it would be useful for you to provide a `[package]` section in the `Cargo.toml` file for this project. In addition to this, providing scripts that do not rely on invoking `cargo` would be appreciated.

[2021-05-06 17:28] guy-who-googles opened #353 "Option to change Tab Color of Fuzzy Finder"
Similar to #45, but to change the base color of tabs in fuzzy finder.

Maybe it's just me, but blue is difficult to see in my terminal (Alacritty). While a color configuration option would help my specific use case, pairing it to a grouping of tabs (seems like workspace/repo abstraction may change depending on #315 - specifically [this](https://github.com/austinjones/tab-rs/issues/315#issuecomment

[2021-05-06 18:24] guy-who-googles commented on #353
Oh, and as to not conflict with #45, you could do bold for recency sorting.

[2021-05-08 17:01] gregwebs commented on #246
* Screen
* Dvtm https://linuxconfig.org/an-introduction-to-terminal-multiplexers
* Mtm https://github.com/deadpixi/mtm
* Zellij has discoverable shortcuts
* Abduco
* Tabbed (no detach) https://git.suckless.org/tabbed/file/tabbed.1.html

I haven't looked closely at all of these, but my main issue with tmux and those like it is that it alters scrollback and mouse usage (there are some newer ways to

[2021-05-08 17:05] gregwebs commented on #221
[code]

I use zimfw rather than oh-my-zsh

[2021-05-08 17:10] gregwebs opened #354 "tab --install -y"
## Problem

`tab --install` requires a prompt: this makes it impossible to have a fully automated installation. Using `yes` seem to cause a bad crash.

## Proposed Solution

Adding an option `-y --yes` or `-f --force` that would not prompt the user would help automated installers.

[2021-05-16 04:46] cinerea0 commented on #351
I experienced this problem on my x86_64 Linux system as well, haven't tried the fix yet.

[2021-05-21 13:31] nothingnesses opened #356 "Please set `-l` instead of `--login` flag when starting the shell for portability."
Currently, trying to run something like `tab NameOfTab` on my system results in the output `/bedrock/cross/bin/sh: 0: Illegal option --`. I think the problem is that, in #275, the `--login` flag was hardcoded. However, `--login` isn't very portable and doesn't exist in the `dash` shell that I use (which is what `sh` links to in my system), which instead uses the more portable `-l`.

[2021-05-23 16:20] jdisanti opened #358 "User friendly config parse errors in `tab --check`"
Thanks for building this!

I found a config parsing error that could be improved, but it looks fairly involved. Using the following config:
[code]
Will result in an error that requires cross comparing with an example or looking at an enum in code to figure out why it didn't work (the `doc` key shouldn't have its own hyphen in this particular example):
[code]
Ideally, this error message would be mo

[2021-05-23 16:29] jdisanti opened #359 "Warnings about missing fuzzy config"
After creating my initial config, I started seeing the following warning on startup:
[code]

I didn't see anything about this field in the documentation, so I read through `config.rs` to see what I was missing, and it looks like there's a non-optional `fuzzy` config? I tried adding this to the bottom of my `.config/tab.yml`:

[code]

Which results in:

[code]

Running `tab --check` doesn't reveal

[2021-05-27 14:19] dtomvan opened #361 "Dialoguer 0.7.0 does not compile anymore"
For some reason while trying to compile tab-rs, its dependency-check errors:
[code]

[2021-05-28 21:15] astrolemonade commented on #361
I managed to build tab on Linux on both debug and release modes. Could you try again?
I tried to build it on WSL earlier this day and I received the error you mentioned. Maybe it was fixed.

[2021-06-01 07:14] gnur commented on #361
On Ubuntu 20.04 I can't get it to install as well:

[code]

[2021-06-03 15:02] reflog commented on #361
Same here on Arch:
[code]

[2021-06-08 13:02] dtomvan commented on #361
Nope, still doesn't work:
[code]

[2021-06-08 13:03] dtomvan commented on #361
Oh, I just realized that I posted the same as the guy above me

[2021-06-08 23:31] cinerea0 commented on #349
Could we get an update on this?

[2021-06-09 07:21] dtomvan commented on #361
Maybe related to #351?

[2021-06-18 22:01] xaocon commented on #361
Yeah, looks like it to me. Updating `dialoguer` to 0.8 worked for me. Haven't seen any issues.

[2021-06-28 14:41] star-szr opened #362 "Visually indicate active tab in fuzzy finder"
Within a tab session, if I hit ctrl + t to open the fuzzy finder, sometimes it can be a disorienting because as far as I can tell there's no way of knowing where I came from. Could there be a `*` to mark the currently active tab, and maybe color coding?

[code]

As some prior art/an example: when I run `git branch`, the current branch is highlighted in green and has a `*` beside it.

[2021-07-26 15:02] rashil2000 commented on #104
Hi!
Are there any plans for this?

[2021-07-30 05:31] alexherbo2 commented on #149
In addition to the command-line, it could be nice to be able to rename selected tabs.

[2021-07-30 05:45] alexherbo2 opened #363 "Complete selected tab name with the right arrow key"
**Example** – Giving the following tabs:

[code]

It could be nice, when typing `app`, to be able to complete the name of selected tabs with the right arrow key, so we can more easily create a new `app/services/three` tab.

[2021-07-30 19:56] alexherbo2 opened #364 "Idea: Scratch tabs"
**Example** – Open files in [Kakoune]:

[code]

Kakoune does not have its own windowing, so it could be pretty cool to be able to signal to open a tab when we are in tab and return from the command-line.

[Kakoune]: https://kakoune.org

[2021-08-20 16:48] dmgolembiowski commented on #361
`cargo install tab` does not work. I dug into the github workflows and saw how other people could be installing tab, but potentially neglecting to share how they're doing it. The procedure I've used to get an installation of tab on my system is:

[code]
[code]
[code]
[code]
[code]

Please consider keeping this comment available. It's meaningful to newcomers who want to engage with this software.

[2021-08-20 17:57] guy-who-googles commented on #361
It's been a while, but in case it's of use, I believe I'm using the [pre-compiled binaries](https://github.com/austinjones/tab-rs/releases).

[2021-08-28 21:51] dtomvan commented on #74
Isn’t it much more useful if -w already closes subtabs? Like as if you kill a parent process (in linux etc.) all child processes get killed as well. There is a tradeoff for this though, you can’t only close the parent without closing the children. I guess it would be useful if it would be the other way around: -w for closing the tab including children, and -o or something to specify you (o)nly wan

[2021-10-25 21:41] #356 closed, assigned to nobody

[2021-10-25 21:43] #354 closed, assigned to nobody

[2021-11-20 21:45] astrolemonade opened #368 "Provide ability of to next/previous tab using keyboard shortcuts outside fuzzy finder"

[2022-01-15 03:16] dixonwille commented on #104
@austinjones I would love Windows support. I have no experience in programming terminal emulation/multiplexing but many years of programming experience (mainly cloud infrastructure and networking). Is there some place you could point me to or any guidance in how I can move tab-rs to be Windows compatible? I see the link about tokio pty and a mention about alacritty-terminal. Not sure if that is st

[2022-02-09 13:49] nielsenko opened #369 "Failed to install with cargo"
[code]

[2022-03-03 15:11] nielsenko commented on #369
It was just for your information. Installing via brew was fine. I'll close this for lack of interest.

[2022-03-03 15:11] #369 closed, assigned to nobody